.form_wrapper {
  @include clearfix;
  clear: both;

  width: 100%;
  box-sizing: border-box;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;

  border: 2px solid #79909a;
  background: #f3fbff;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #0d47ae;
    line-height: 1em;
  }

  input[type="submit"] {
    position: relative;
    border: 0;
    background: url('/images/mk2_2/submit-on.png') center center no-repeat;
    width: 150px;
    height: 40px;
    display: block;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-size: 1em;
    z-index: 110;
    margin: 1em auto;
    &:hover {
      background: url('/images/mk2_2/submit-over.png') center center no-repeat;
    }
    &:disabled {
      background: url('/images/mk2_2/submit-off.png') center center no-repeat;
    }

  }
}