.quest_section {
  @include clearfix;
  clear: both;
  position: relative;
  z-index: 11;

  margin: 5% 0;

  img.speaker {
    display: none;
  }

  .quest {
    position: relative;
    width: 90%;
    @include background(#DEBC98);
    @include border-radius(0.7em);
    box-sizing: border-box;
    margin: 0 5% 5px 5%;
    padding: 5%;
    @include box-shadow(rgba(#929699, 1) 5px 5px 0);

    img.bubble {
      display: none;
    }

    .header {
      position: relative;
      color: #0d47ae;
      font-size: 1em;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      padding-top: 2.5%;
    }

    .body {
      padding: 5%;
      p {
        color: #6e2806;
        font-size: 0.875em;
        font-weight: bold;
        padding: 0;
        margin: 0 0 1em 0;
      }
      .rating {
        height: 50px;
        text-align: center;
        .star-on-png,
        .star-off-png {
          width: 2.188em;
          height: 2.125em;
          display: inline-block;
        }
        .star-on-png {
          background: url('/images/mk2_2/star-on.png') center center no-repeat;
        }
        .star-off-png {
          background: url('/images/mk2_2/star-off.png') center center no-repeat;
        }
      }
      .target {
        color: #ff0101;
        font-size: 0.8em;
        line-height: 1.625em;
        height: 1.625em;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        span {
          position: relative;
          padding: 0 2.5%;
        }
        &.hidden {
          background: none;
          hr {
            display: none;
          }
        }
      }
      .additionally {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            padding: 0 0;
            margin: 0;

            /* Base for label styling */
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
              position: absolute;
              left: -9999px;
              outline: none;
            }

            /* checkbox aspect */
            [type="checkbox"]:not(:checked) + label:before,
            [type="checkbox"]:checked + label:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;

              width: 1.429em;
              height: 1.429em;

              border-left: 1px solid #91785c;
              border-top: 1px solid #91785c;
              border-right: 1px solid #e8ceb2;
              border-bottom: 1px solid #e8ceb2;

              background: #f2e5d7;
              border-radius: 3px;
            }
            /* checked mark aspect */
            [type="checkbox"]:not(:checked) + label:after,
            [type="checkbox"]:checked + label:after {
              content: '';
              background: url('/images/mk2_2/checkbox-on.png') center center no-repeat;
              position: absolute;
              top: -5px;
              left: -2px;
              width: 30px;
              height: 25px;
            }
            /* checked mark aspect changes */
            [type="checkbox"]:not(:checked) + label:after {
              opacity: 0;
              transform: scale(0);
            }
            [type="checkbox"]:checked + label:after {
              opacity: 1;
              transform: scale(1);
            }

            /* disabled checkbox */
            //[type="checkbox"]:disabled:not(:checked) + label:before,
            //[type="checkbox"]:disabled:checked + label:before {
            //  box-shadow: none;
            //  border-color: #bbb;
            //  background-color: #ddd;
            //}
            //[type="checkbox"]:disabled:checked + label:after {
            //  color: #999;
            //}
            //[type="checkbox"]:disabled + label {
            //  color: #aaa;
            //}
            /* accessibility */
            //[type="checkbox"]:checked:focus + label:before,
            //[type="checkbox"]:not(:checked):focus + label:before {
            //  border: 1px dotted blue;
            //}
            //
            ///* hover style just for information */
            //label:hover:before {
            //  border: 1px solid #4778d9 !important;
            //}

            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
              position: relative;
              padding-left: 30px;
              cursor: pointer;
              color: #6e2806;
              font-size: 0.750em;
              font-weight: bold;
              display: inline-block;
            }
            &.other {
              span.counter {
                float: right;
                font-size: 0.750em;
                color: #6e2806;
                font-style: italic;
              }

              textarea {
                width: 100%;
                height: 6em;
                min-height: 3em;

                padding: 0 1em;
                box-sizing: border-box;

                font-size: 0.750em;
                line-height: 1.833em;
                font-weight: bold;
                color: #6e2806;
                overflow-x: hidden; /* for Firefox (issue #5) */
                border-left: 1px solid #91785c;
                border-top: 1px solid #91785c;
                border-right: 1px solid #e8ceb2;
                border-bottom: 1px solid #e8ceb2;

                background: #f2e5d7;
                border-radius: 3px;
                margin: 0 0 0 0;

                outline: none;
                resize: none;
              }
            }
          }
        }
        &.hidden {
          display: none;
        }
      }
    }
    &.textarea {
      .body {
        span.counter {
          float: right;
          font-size: 0.750em;
          color: #2d4e4f;
          font-style: italic;
        }
        textarea {
          width: 100%;
          height: 5.833em;
          min-height: 5.833em;

          padding: 0 1em;
          box-sizing: border-box;

          font-size: 0.750em;
          line-height: 1.833em;
          font-weight: bold;
          color: #6e2806;
          overflow-x: hidden; /* for Firefox (issue #5) */
          border-left: 1px solid #91785c;
          border-top: 1px solid #91785c;
          border-right: 1px solid #e8ceb2;
          border-bottom: 1px solid #e8ceb2;

          background: #f2e5d7;

          border-radius: 3px;
          margin: 0 0 0 0;

          outline: none;
          resize: none;
        }
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {

    margin: 3.333% 0;

    .quest {
      width: 74.168%;
      padding: 3.333% 3.333% 3.333% 3.333%;
      margin: 0 3.333% 5px 3.333%;
      float: left;
      img.bubble {
        display: block;
        position: absolute;
        top: 4em;
        &.left {
          left: 0;
          margin-left: -26px;
        }
        &.right {
          left: 100%;
          margin-left: 0;
        }
      }
      .body {
        padding: 0 0 0 0;
        .additionally {
          ul {
            li {
              &.other {
                textarea {
                  height: 3em;
                }
              }
            }
          }
        }
      }
      .header {
        padding-top: -1px;
      }
    }

    img.speaker {
      display: block;
      float: left;
      width: 15.833%;
    }

    &.left_dialog {
      img.speaker {
        margin-left: 3.333%;
      }
    }
    &.right_dialog {
      img.speaker {
        margin-right: 3.333%;
      }
    }
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}