/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
/* line 9, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 29, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 40, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 47, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
/* line 11, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 19, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
/* line 9, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a {
  background: transparent;
}

/* line 15, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
/* line 9, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 15, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
dfn {
  font-style: italic;
}

/* line 29, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 36, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 43, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
small {
  font-size: 80%;
}

/* line 49, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 57, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sup {
  top: -0.5em;
}

/* line 61, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
/* line 9, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
img {
  border: 0;
}

/* line 15, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
/* line 9, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
figure {
  margin: 1em 40px;
}

/* line 15, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 23, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
pre {
  overflow: auto;
}

/* line 29, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
/* line 15, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 27, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button {
  overflow: visible;
}

/* line 36, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 47, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 64, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 73, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input {
  line-height: normal;
}

/* line 83, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 93, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 102, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 113, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 120, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 129, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 136, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
textarea {
  overflow: auto;
}

/* line 143, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
/* line 9, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
td,
th {
  padding: 0;
}

/* line 1, scss/base/_base.scss */
html.t {
  height: 100%;
}

/* line 5, scss/base/_base.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 10, scss/base/_base.scss */
body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: url("/images/dz3d_2/bg2_mobile.png") center 0 no-repeat, url("/images/dz3d_2/bg.png");
}
@media (min-width: 39em) {
  /* line 10, scss/base/_base.scss */
  body {
    background: url("/images/dz3d_2/bg2_tablet.png") center 0 no-repeat, url("/images/dz3d_2/bg.png");
  }
}
@media (min-width: 58.75em) {
  /* line 10, scss/base/_base.scss */
  body {
    background: url("/images/dz3d_2/bg2_desktop.png") center 0 no-repeat, url("/images/dz3d_2/bg.png");
  }
}
/* line 25, scss/base/_base.scss */
body .wrap .logo {
  position: absolute;
  top: 1em;
  left: 50%;
  margin: 0 0 0 -5.625em;
  width: 11.250em;
  height: 6.625em;
  background: url("/images/dz3d_2/logo_mobile.png") center 0 no-repeat;
}
/* line 33, scss/base/_base.scss */
body .wrap .logo.ru_ru {
  background: url("/images/dz3d_2/logo_mobile_ru.png") center 0 no-repeat;
}
@media (min-width: 39em) {
  /* line 41, scss/base/_base.scss */
  body .wrap .logo {
    top: 2em;
    width: 15.625em;
    height: 9.250em;
    margin: 0 0 0 -7.8125em;
    background: url("/images/dz3d_2/logo_tablet.png") center 0 no-repeat;
  }
  /* line 47, scss/base/_base.scss */
  body .wrap .logo.ru_ru {
    background: url("/images/dz3d_2/logo_tablet_ru.png") center 0 no-repeat;
  }
}
@media (min-width: 58.75em) {
  /* line 56, scss/base/_base.scss */
  body .wrap .logo {
    top: 3.5em;
    width: 18.750em;
    height: 11.063em;
    margin: 0 0 0 -9.375em;
    background: url("/images/dz3d_2/logo_desktop.png") center 0 no-repeat;
  }
  /* line 62, scss/base/_base.scss */
  body .wrap .logo.ru_ru {
    background: url("/images/dz3d_2/logo_desktop_ru.png") center 0 no-repeat;
  }
}

/* line 1, scss/layout/_grid.scss */
.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.7/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 58.75em) {
  /* line 1, scss/layout/_grid.scss */
  .wrap {
    max-width: 58.75em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.7/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 1, scss/partials/_form_wrap.scss */
.form_wrapper {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  background-color: #c2e1b3;
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  border-radius: 0.75em;
  width: 90%;
  margin: 6em 5% 0 5%;
  padding: 1em 5% 0 5%;
  box-sizing: border-box;
}
/* line 13, scss/partials/_form_wrap.scss */
.form_wrapper h1.write {
  text-align: center;
  margin: 2em 0;
  color: #0047af;
  line-height: 1em;
}
/* line 21, scss/partials/_form_wrap.scss */
.form_wrapper input[type="submit"] {
  border: 0;
  background: url("/images/dz3d_2/submit-on.png") center center no-repeat;
  width: 150px;
  height: 40px;
  display: block;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  outline: none;
  font-size: 1em;
  z-index: 11;
  position: relative;
  margin: 0 auto;
}
/* line 35, scss/partials/_form_wrap.scss */
.form_wrapper input[type="submit"]:hover {
  background: url("/images/dz3d_2/submit-over.png") center center no-repeat;
}
/* line 38, scss/partials/_form_wrap.scss */
.form_wrapper input[type="submit"]:disabled {
  background: url("/images/dz3d_2/submit-off.png") center center no-repeat;
}
/* line 43, scss/partials/_form_wrap.scss */
.form_wrapper.comment {
  position: relative;
  margin: 5% 5% 0 5%;
  padding: 1em 5% 10% 5%;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 39em) {
  /* line 1, scss/partials/_form_wrap.scss */
  .form_wrapper {
    width: 93.334%;
    margin: 9em 3.333% 0 3.333%;
    padding: 1em 3.333% 0 3.333%;
  }
  /* line 58, scss/partials/_form_wrap.scss */
  .form_wrapper.comment {
    margin: 3.333% 3.333% 0 3.333%;
    padding: 1em 3.333% 2em 3.333%;
  }
  /* line 61, scss/partials/_form_wrap.scss */
  .form_wrapper.comment input[type="submit"] {
    margin: 3.333% auto 0 auto;
  }
}
@media (min-width: 58.75em) {
  /* line 1, scss/partials/_form_wrap.scss */
  .form_wrapper {
    margin: 12em 3.333% 0 3.333%;
  }
  /* line 69, scss/partials/_form_wrap.scss */
  .form_wrapper.comment {
    max-width: 54.75em;
    margin: 3.333% auto 0 auto;
  }
}

/* line 1, scss/partials/_quest_section.scss */
.quest_section {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  position: relative;
  margin: 5% 0;
}
/* line 8, scss/partials/_quest_section.scss */
.quest_section img.speaker {
  display: none;
}
/* line 12, scss/partials/_quest_section.scss */
.quest_section .quest {
  position: relative;
  width: 100%;
  background-color: #f8f9e0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
/* line 18, scss/partials/_quest_section.scss */
.quest_section .quest img.bubble {
  display: none;
}
/* line 22, scss/partials/_quest_section.scss */
.quest_section .quest .header {
  position: relative;
  background: url("/images/dz3d_2/blink.png") 1% 7px no-repeat, url("/images/dz3d_2/blink.png") 99% 7px no-repeat, #e1d1bb;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: #0047af;
  font-size: 1em;
  line-height: 1.625em;
  height: 1.625em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #8b8c7e;
}
/* line 38, scss/partials/_quest_section.scss */
.quest_section .quest .body {
  padding: 5% 5% 5% 5%;
}
/* line 40, scss/partials/_quest_section.scss */
.quest_section .quest .body p {
  color: #6e2806;
  font-size: 0.875em;
  font-weight: bold;
}
/* line 45, scss/partials/_quest_section.scss */
.quest_section .quest .body .rating {
  height: 50px;
  text-align: center;
}
/* line 48, scss/partials/_quest_section.scss */
.quest_section .quest .body .rating .star-on-png,
.quest_section .quest .body .rating .star-off-png {
  width: 2.500em;
  height: 2.438em;
  display: inline-block;
}
/* line 54, scss/partials/_quest_section.scss */
.quest_section .quest .body .rating .star-on-png {
  background: url("/images/dz3d_2/star-on.png") center center no-repeat;
}
/* line 57, scss/partials/_quest_section.scss */
.quest_section .quest .body .rating .star-off-png {
  background: url("/images/dz3d_2/star-off.png") center center no-repeat;
}
/* line 61, scss/partials/_quest_section.scss */
.quest_section .quest .body .target {
  color: #ff1d17;
  font-size: 0.9em;
  line-height: 1.625em;
  height: 1.625em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  background: url("/images/dz3d_2/dot.png") center left no-repeat, url("/images/dz3d_2/point.png") center center repeat-x, url("/images/dz3d_2/dot.png") center right no-repeat;
}
/* line 71, scss/partials/_quest_section.scss */
.quest_section .quest .body .target span {
  position: relative;
  padding: 0 2.5%;
  background-color: #f8f9e0;
}
/* line 76, scss/partials/_quest_section.scss */
.quest_section .quest .body .target.hidden {
  background: none;
}
/* line 78, scss/partials/_quest_section.scss */
.quest_section .quest .body .target.hidden hr {
  display: none;
}
/* line 84, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 88, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li {
  padding: 0;
  margin: 0;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* accessibility */
}
/* line 93, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li [type="checkbox"]:not(:checked),
.quest_section .quest .body .additionally ul li [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  outline: none;
}
/* line 101, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li [type="checkbox"]:not(:checked) + label:before,
.quest_section .quest .body .additionally ul li [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.429em;
  height: 1.429em;
  border-left: 1px solid #a9aa99;
  border-top: 1px solid #a9aa99;
  border-right: 1px solid white;
  border-bottom: 0;
  background: #d6ceb4;
  border-radius: 3px;
}
/* line 120, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li [type="checkbox"]:not(:checked) + label:after,
.quest_section .quest .body .additionally ul li [type="checkbox"]:checked + label:after {
  content: '';
  background: url("/images/dz3d_2/checkbox-on.png") center center no-repeat;
  position: absolute;
  top: -5px;
  left: -2px;
  width: 30px;
  height: 25px;
}
/* line 131, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
/* line 135, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* line 164, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li [type="checkbox"]:not(:checked) + label,
.quest_section .quest .body .additionally ul li [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #6e2806;
  font-size: 0.750em;
  font-weight: bold;
  display: inline-block;
}
/* line 175, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li.other span.counter {
  float: right;
  font-size: 0.750em;
  color: #d6ceb4;
  font-style: italic;
}
/* line 182, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally ul li.other textarea {
  width: 100%;
  height: 3em;
  min-height: 3em;
  padding: 0 1em;
  box-sizing: border-box;
  font-size: 0.750em;
  line-height: 1.833em;
  font-weight: bold;
  color: #6e2806;
  overflow-x: hidden;
  /* for Firefox (issue #5) */
  border-left: 1px solid #a9aa99;
  border-top: 1px solid #a9aa99;
  border-right: 1px solid white;
  border-bottom: 0;
  background: #d6ceb4;
  border-radius: 3px;
  margin: 0 0 0 0;
  outline: none;
  resize: none;
}
/* line 210, scss/partials/_quest_section.scss */
.quest_section .quest .body .additionally.hidden {
  display: none;
}
/* line 217, scss/partials/_quest_section.scss */
.quest_section .quest.textarea .body span.counter {
  float: right;
  font-size: 0.750em;
  color: #d6ceb4;
  font-style: italic;
}
/* line 223, scss/partials/_quest_section.scss */
.quest_section .quest.textarea .body textarea {
  width: 100%;
  height: 5.833em;
  min-height: 5.833em;
  padding: 0 1em;
  box-sizing: border-box;
  font-size: 0.750em;
  line-height: 1.833em;
  font-weight: bold;
  color: #6e2806;
  overflow-x: hidden;
  /* for Firefox (issue #5) */
  border-left: 1px solid #a9aa99;
  border-top: 1px solid #a9aa99;
  border-right: 1px solid white;
  border-bottom: 0;
  background: #d6ceb4;
  border-radius: 3px;
  margin: 0 0 0 0;
  outline: none;
  resize: none;
}
@media (min-width: 39em) {
  /* line 1, scss/partials/_quest_section.scss */
  .quest_section {
    margin: 3.333% 0;
  }
  /* line 254, scss/partials/_quest_section.scss */
  .quest_section img.speaker {
    display: block;
  }
  /* line 259, scss/partials/_quest_section.scss */
  .quest_section.left_dialog img.speaker {
    display: block;
    float: left;
    width: 20.833%;
  }
  /* line 264, scss/partials/_quest_section.scss */
  .quest_section.left_dialog .quest {
    float: left;
    margin-left: 3.333%;
  }
  /* line 270, scss/partials/_quest_section.scss */
  .quest_section.right_dialog img.speaker {
    float: left;
    width: 20.833%;
  }
  /* line 274, scss/partials/_quest_section.scss */
  .quest_section.right_dialog .quest {
    float: left;
    margin-right: 3.333%;
  }
  /* line 282, scss/partials/_quest_section.scss */
  .quest_section .quest {
    width: 74.168%;
  }
  /* line 284, scss/partials/_quest_section.scss */
  .quest_section .quest img.bubble {
    display: block;
    position: absolute;
    top: 8em;
  }
  /* line 288, scss/partials/_quest_section.scss */
  .quest_section .quest img.bubble.left {
    margin-left: -18px;
  }
  /* line 291, scss/partials/_quest_section.scss */
  .quest_section .quest img.bubble.right {
    left: 100%;
    margin-left: -14px;
  }
}

/* line 1, scss/partials/_footer.scss */
.footer {
  position: relative;
  width: 100%;
}
/* line 5, scss/partials/_footer.scss */
.footer .bg {
  position: absolute;
  background: url("/images/dz3d_2/bg_footer_mobile.png") center center no-repeat;
  height: 100px;
  width: 100%;
  z-index: 10;
  top: 100%;
  margin-top: -101px;
}
@media (min-width: 39em) {
  /* line 16, scss/partials/_footer.scss */
  .footer .bg {
    background: url("/images/dz3d_2/bg_footer_tablet.png") center center no-repeat;
    margin-top: -156px;
    height: 156px;
  }
}
@media (min-width: 58.75em) {
  /* line 24, scss/partials/_footer.scss */
  .footer .bg {
    background: url("/images/dz3d_2/bg_footer_desktop.png") center center no-repeat;
    margin-top: -208px;
    height: 208px;
  }
}
