.footer {
  position: relative;
  width: 100%;

  i {
    position: absolute;
    display: block;
    top: 0;
    z-index: 10;
    margin-top: -100px;
    //&.left {
    //  display: none;
    //  width: 367px;
    //  height: 270px;
    //  background: url('/images/iaw_1/bush-left.png') -95px 0 no-repeat;
    //  left: 0;
    //  z-index: -10;
    //}
    //&.right {
    //  display: none;
    //  width: 371px;
    //  height: 299px;
    //  background: url('/images/iaw_1/bush-right.png') 70px 0 no-repeat;
    //  right: 0;
    //  margin-top: -90px;
    //  z-index: -10;
    //}
  }

  .form-sands {
    display: none;
  }

  .submit {
    position: relative;

    margin-top: 11px;
    padding: 10px 0;

    @include background-image(linear-gradient(#add5ea, #c5e7f7));
    @include border-bottom-left-radius(0);
    @include border-bottom-right-radius(0);

    input[type="submit"] {
      border: 0;
      background: url('/images/iaw_1/submit-on.png') center center no-repeat;
      width: 150px;
      height: 40px;
      display: block;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      outline: none;
      font-size: 1em;
      z-index: 11;
      position: relative;
      margin: 0 auto;
      &:hover{
        background: url('/images/iaw_1/submit-over.png') center center no-repeat;
      }
      &:disabled {
        background: url('/images/iaw_1/submit-off.png') center center no-repeat;
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {
    i {
      margin-top: -160px;
      //&.left {
      //  display: none;
      //  width: 376px;
      //  height: 312px;
      //  background: url('/images/iaw_1/bush-left.png') -163px 0 no-repeat;
      //  left: 0;
      //}
      //&.right {
      //  display: none;
      //  width: 378px;
      //  height: 305px;
      //  background: url('/images/iaw_1/bush-right.png') 90px 0 no-repeat;
      //  right: 0;
      //  margin-top: -153px;
      //}
    }

    .submit {
      margin-top: 23px;
      padding: 20px 0;

      input[type="submit"] {
        margin: 0 auto;
      }
    }

    .form-sands {
      display: none;
    }
  }

  @include susy-breakpoint($desktop, 12) {
    i {
      margin-top: -260px;
      //&.left {
      //  width: 367px;
      //  height: 270px;
      //  background: url('/images/iaw_1/bush-left.png') 0 0 no-repeat;
      //  left: 50%;
      //  margin-left: -690px;
      //}
      //&.right {
      //  width: 44%;
      //  height: 255px;
      //  background: url('/images/iaw_1/bush-right.png') 180px 0 no-repeat;
      //  margin-top: -200px;
      //}
    }

    .form-sands {
      display: block;
      width: 100%;
      height: 237px;
      margin-top: -185px;
      z-index: -10;
      position: absolute;
    }

    .submit {
      padding: 30px 0;
      max-width: 54.75em;
      margin: 0 auto;
    }
  }
}