$mobile: 20.000em;
//320px
$tablet: 39.000em;
//624px
$desktop: 58.750em;
//940px

$susy: (
        math: fluid,
        debug: (
                image: hide,
          //    output: overlay,
          //toggle: top right
        ),
        gutter-position: inside
);