.glass_wrapper {
  margin: 3.5em 0 31px 0;
  box-sizing: border-box;
  position: relative;

  .g_head,
  .g_body,
  .g_footer {
    display: table;
    width: 100%;
    .g_row {
      display: table-row;
    }
  }

  .lul {
    width: 92px;
    height: 94px;
    background: url('/images/tf_2/left_up_over.png') 0 0 no-repeat;
    display: block;
    position: absolute;

    top: -31px;
    left: -26px;
  }
  .uc {
    position: relative;
    top: 0;
    height: 34px;
    background: url('/images/tf_2/up_over.png') 0 0 repeat-x;
    display: table-cell;
    font-size: 16px;
    line-height: 16px;
  }
  .rur {
    width: 92px;
    height: 94px;
    background: url('/images/tf_2/right_up_over.png') 0 0 no-repeat;
    display: block;
    position: absolute;

    top: -31px;
    right: -26px;
  }

  .lml {
    width: 33px;
    height: 100%;
    background: url('/images/tf_2/left_over.png') 0 0 repeat-y;
    display: table-cell;
  }
  .rmr {
    width: 33px;
    height: 100%;
    background: url('/images/tf_2/right_over.png') 0 0 repeat-y;
    display: table-cell;

  }

  .ldl {
    width: 92px;
    height: 94px;
    background: url('/images/tf_2/left_down_over.png') 0 0 no-repeat;
    display: block;
    position: absolute;
    bottom: -31px;
    left: -26px;

  }
  .dc {
    height: 34px;
    background: url('/images/tf_2/down_over.png') 0 0 repeat-x;
    display: table-cell;
  }
  .rdr {
    width: 92px;
    height: 94px;
    background: url('/images/tf_2/right_down_over.png') 0 0 no-repeat;
    display: block;
    position: absolute;
    bottom: -31px;
    right: -26px;
  }

  @include susy-breakpoint($tablet, 12) {
    margin: 5.4em 3.333% 31px 3.333%;
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 6.5em 3.333% 31px 3.333%;
  }

}