html.t {
  height: 100%;
  body {
    @include background(
                    url('/images/mk2_1/back_up_mobile.png') center 0 no-repeat,
                    url('/images/mk2_1/back_title_stars.png')
                    linear-gradient(
                                    rgba(1, 156, 255, 0.80),
                                    rgba(105, 246, 255, 0.80)
                    )
    );

    @include susy-breakpoint($tablet, 12) {
      @include background(
                      url('/images/mk2_1/back_up_tablet.png') center 0 no-repeat,
                      url('/images/mk2_1/back_title_stars.png'),
                      linear-gradient(
                                      rgba(1, 156, 255, 0.80),
                                      rgba(105, 246, 255, 0.80)
                      )
      );
    }

    @include susy-breakpoint($desktop, 12) {
      @include background(
                      url('/images/mk2_1/back_up_desktop.png') center 0 no-repeat,
                      url('/images/mk2_1/back_title_stars.png'),
                      linear-gradient(
                                      rgba(1, 156, 255, 0.80),
                                      rgba(105, 246, 255, 0.80)
                      )
      );
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  $svg-gradient-shim-threshold: 1 !global;


  @include background(
                  url('/images/mk2_1/back_up_mobile.png') center 0 no-repeat,
                  url('/images/mk2_1/back_mobile.png') center bottom no-repeat,
                  url('/images/mk2_1/back_title_stars.png'),
                  linear-gradient(
                                  rgba(1, 156, 255, 0.80),
                                  rgba(105, 246, 255, 0.80)
                  )
  );

  @include susy-breakpoint($tablet, 12) {
    @include background(
                    url('/images/mk2_1/back_up_tablet.png') center 0 no-repeat,
                    url('/images/mk2_1/back_tablet.png') center bottom no-repeat,
                    url('/images/mk2_1/back_title_stars.png'),
                    linear-gradient(
                                    rgba(1, 156, 255, 0.80),
                                    rgba(105, 246, 255, 0.80)
                    )
    );
  }

  @include susy-breakpoint($desktop, 12) {

    @include background(
                    url('/images/mk2_1/back_up_desktop.png') center 0 no-repeat,
                    url('/images/mk2_1/back_desktop.png') center bottom no-repeat,
                    url('/images/mk2_1/back_title_stars.png'),
                    linear-gradient(
                                    rgba(1, 156, 255, 0.80),
                                    rgba(105, 246, 255, 0.80)
                    )

    );
  }

  .wrap {
    position: relative;
    .logo {
      position: absolute;
      z-index: 12;
      top: -5em;
      left: 50%;
      margin: 0 0 0 -6em;
      width: 12em;
      height: 6.625em;
      background: url('/images/mk2_1/logo_eng_mobile.png') center 0 no-repeat;
      &.ru_ru {
        top: -4em;
        background: url('/images/mk2_1/logo_ru_mobile.png') center 0 no-repeat;
      }
    }

  }

  @include susy-breakpoint($tablet, 12) {
    .wrap {
      .logo {
        top: -7.5em;
        width: 20em;
        height: 10em;
        margin: 0 0 0 -10em;
        background: url('/images/mk2_1/logo_eng_tablet.png') center 0 no-repeat;
        &.ru_ru {
          top: -6em;
          background: url('/images/mk2_1/logo_ru_tablet.png') center 0 no-repeat;
        }
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {

    .wrap {
      .logo {
        top: -8em;
        width: 24em;
        height: 11.063em;
        margin: 0 0 0 -12em;
        background: url('/images/mk2_1/logo_eng_desktop.png') center 0 no-repeat;
        &.ru_ru {
          top: -9em;
          background: url('/images/mk2_1/logo_ru_desktop.png') center 0 no-repeat;
        }
      }

    }
  }

}