.wrap {
  @include container();
  @include show-grid(4);

  @include susy-breakpoint($mobile, 4) {
    @include show-grid(4);
  }

  @include susy-breakpoint($tablet, 12) {
    @include show-grid(12);
  }

  @include susy-breakpoint($desktop, 12) {
    @include container($desktop);
    @include show-grid(12);
  }
}
