.footer {
  position: relative;
  width: 100%;

  i.k {
    position: absolute;
    width: 58px;
    height: 51px;
    top: -20px;
    z-index: 20;
    &.knl {
      background: url('/images/dznz_1/knopka.png') 0 0 no-repeat;
      left: 5%;
    }
    &.knr {
      background: url('/images/dznz_1/knopka2.png') 0 0 no-repeat;
      right: 5%;
    }
  }

  i.f {
    position: absolute;
    z-index: 21;
    &.fl {
      width: 160px;
      height: 148px;
      top: -52px;
      left: -60px;
      background: url('/images/dznz_1/bg_down_left_mobile.png') 0 0 no-repeat;
    }
    &.fr {
      width: 186px;
      height: 149px;
      top: -53px;
      right: 0;
      background: url('/images/dznz_1/bg_down_right_mobile.png') 50px 0 no-repeat;
    }
  }

  @include susy-breakpoint($tablet, 12) {
    i.k {
      &.knl {
        left: 20%;
      }
      &.knr {
        right: 20%;
      }
    }

    i.f {
      &.fl {
        width: 246px;
        height: 228px;
        top: -100px;
        left: -60px;
        background: url('/images/dznz_1/bg_down_left_tablet.png') 0 0 no-repeat;
      }
      &.fr {
        width: 286px;
        height: 229px;
        top: -101px;
        right: 0;
        background: url('/images/dznz_1/bg_down_right_tablet.png') 50px 0 no-repeat;
      }
    }

  }

  @include susy-breakpoint($desktop, 12) {
    i.f {
      &.fl {
        width: 50%;
        height: 285px;
        top: -124px;
        background: url('/images/dznz_1/bg_down_left_desktop.png') 0 0 no-repeat;
        left: 50%;
        margin-left: -560px;
      }
      &.fr {
        width: 50%;
        height: 286px;
        top: -125px;
        left: 50%;
        right: 0;
        background: url('/images/dznz_1/bg_down_right_desktop.png') 210px 0 no-repeat;
      }
    }
  }
}