.footer {
  width: 100%;
  position: relative;


  i {
    position: absolute;
    display: block;
    &.tl {
      top: 93px;
      left: -30px;
      width: 165px;
      height: 17px;
      background: url('/images/mk2_1/tl_mobile.png') 0 0 no-repeat;
      z-index: 4;
    }
    &.pl {
      top: 15px;
      left: -30px;
      width: 140px;
      height: 95px;
      background: url('/images/mk2_1/pl_mobile.png') 0 0 no-repeat;
      z-index: 3;
    }
    &.tr {
      top: 91px;
      right: 0;
      width: 160px;
      height: 19px;
      background: url('/images/mk2_1/tr_mobile.png') 40px 0 no-repeat;
      z-index: 4;
    }
    &.pr {
      top: 15px;
      right: 0;
      width: 150px;
      height: 93px;
      background: url('/images/mk2_1/pr_mobile.png') 20px 0 no-repeat;
      z-index: 3;
    }
  }

  .inside {
    padding: 8px;
    margin: 10px;

    @include border-radius(12px);
    border: 2px solid #2b6087;

    @include background(
                    url('/images/mk2_1/back_title_dialog.png'),
                    #5b8baa

    );


    box-sizing: border-box;
    position: relative;

    .submit {
      padding: 20px 10px;
      @include border-radius(10px);

      background: #f3fbff;
      input[type="submit"] {
        position: relative;
        border: 0;
        background: url('/images/mk2_1/submit-on.png') center center no-repeat;
        width: 150px;
        height: 40px;
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        outline: none;
        font-size: 1em;
        z-index: 110;
        margin: 0 auto;
        &:hover {
          background: url('/images/mk2_1/submit-over.png') center center no-repeat;
        }
        &:disabled {
          background: url('/images/mk2_1/submit-off.png') center center no-repeat;
        }
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {

    i {
      &.tl {
        top: 84px;
        left: 0px;
        width: 254px;
        height: 26px;
        background: url('/images/mk2_1/tl_tablet.png') 0 0 no-repeat;
        z-index: 4;
      }
      &.pl {
        top: -40px;
        left: 0px;
        width: 216px;
        height: 146px;
        background: url('/images/mk2_1/pl_tablet.png') 0 0 no-repeat;
        z-index: 3;
      }
      &.tr {
        top: 80px;
        right: 0;
        width: 246px;
        height: 30px;
        background: url('/images/mk2_1/tr_tablet.png') 0px 0 no-repeat;
        z-index: 4;
      }
      &.pr {
        top: -35px;
        right: 0;
        width: 230px;
        height: 143px;
        background: url('/images/mk2_1/pr_tablet.png') 0 0 no-repeat;
        z-index: 3;
      }
    }

    .inside {
      margin: 10px 3.333%;
      padding: 8px;
    }
  }

  @include susy-breakpoint($desktop, 12) {
    i {
      &.tl {
        top: 102px;
        width: 50%;
        left: 50%;
        height: 33px;
        background: url('/images/mk2_1/tl_desktop.png') 0 0 no-repeat;
        z-index: 4;
        margin-left: -520px;
      }
      &.pl {
        top: -50px;
        width: 50%;
        left: 50%;
        height: 183px;
        background: url('/images/mk2_1/pl_desktop.png') 0 0 no-repeat;
        z-index: 3;
        margin-left: -550px
      }
      &.tr {
        top: 98px;
        left: 50%;
        width: 50%;
        height: 37px;
        background: url('/images/mk2_1/tr_desktop.png') 190px 0 no-repeat;
        z-index: 4;
      }
      &.pr {
        top: -50px;
        left: 50%;
        width: 50%;
        height: 179px;
        background: url('/images/mk2_1/pr_desktop.png') 222px 0 no-repeat;
        z-index: 3;
      }
    }

    .inside {
      max-width: 54.75em;
      margin: 15px auto;
      .submit{
        padding: 30px 10px;
      }
    }
  }
}