.form_wrapper {
  @include clearfix;
  clear: both;

  width: 100%;
  box-sizing: border-box;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;

  border: 2px solid #79909a;
  background: #f3fbff;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #0d47ae;
    line-height: 1em;
  }
}