.form_wrapper2 {
  @include border-radius(12px);
  padding: 3px 4px;
  border-top: 3px solid #2b6087;
  border-bottom: 3px solid #2b6087;
  border-left: 4px solid #2b6087;
  border-right: 4px solid #2b6087;

  @include background(
    url('/images/mk2_1/back_title_dialog.png'),
                  #5b8baa

  );

  position: relative;

}