.glass_wrapper {

  margin: 5em 10px 0 10px;
  box-sizing: border-box;
  position: relative;

  @include border-radius(12px);
  padding: 3px 4px;

  @include background(#0d4268);

  @include susy-breakpoint($tablet, 12) {
    margin: 7em 3.333% 0 3.333%;
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 8em 3.333% 0 3.333%;
  }

}