.footer {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 0;

  .form_wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #995f17;
  }

  i {
    position: absolute;
    display: block;
    top: 0;
    z-index: 10;

    &.dl {
      width: 125px;
      height: 158px;
      background: url('/images/tf_1/bg_tree_left_mobile.png') 0 0 no-repeat;
      left: -80px;
      top: -80px
    }
    &.pl {
      width: 140px;
      height: 111px;
      background: url('/images/tf_1/bg_pers_left_mobile.png') 0 0 no-repeat;
      left: -40px;
      top: -10px;
    }
    &.tl {
      width: 235px;
      height: 67px;
      background: url('/images/tf_1/bg_gross_left_mobile.png') 0 0 no-repeat;
      left: -80px;
      top: 39px;
    }
    &.dr {
      width: 162px;
      height: 159px;
      background: url('/images/tf_1/bg_tree_right_mobile.png') 100px 0 no-repeat;
      right: 0;
      top: -60px;
    }
    &.pr {
      width: 100px;
      height: 106px;
      background: url('/images/tf_1/bg_pers_right_mobile.png') 30px 0 no-repeat;
      right: 0;
    }
    &.tr {
      width: 239px;
      height: 76px;
      background: url('/images/tf_1/bg_gross_right_mobile.png') 80px 0 no-repeat;
      right: 0;
      top: 30px;
    }
  }

  .submit {
    position: relative;
    box-shadow: none;

    .inside {
      @include background(
                      #fff1c6
      );
      @include box-shadow(rgba(#fff8e3, 1) 0 0 0 5px inset);
      padding: 20px 0;
      width: 100%;

      input[type="submit"] {
        border: 0;
        background: url('/images/tf_1/submit-on.png') center center no-repeat;
        width: 150px;
        height: 40px;
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        outline: none;
        font-size: 1em;
        z-index: 11;
        position: relative;
        margin: 0 auto;
        &:hover {
          background: url('/images/tf_1/submit-over.png') center center no-repeat;
        }
        &:disabled {
          background: url('/images/tf_1/submit-off.png') center center no-repeat;
        }
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    .form_wrapper {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    i {
      position: absolute;
      display: block;
      top: 0;
      z-index: 10;

      &.dl {
        width: 193px;
        height: 242px;
        background: url('/images/tf_1/bg_tree_left_tablet.png') 0 0 no-repeat;
        left: -80px;
        top: -100px
      }
      &.pl {
        width: 216px;
        height: 170px;
        background: url('/images/tf_1/bg_pers_left_tablet.png') 0 0 no-repeat;
        left: 0;
        top: -20px;
      }
      &.tl {
        width: 362px;
        height: 102px;
        background: url('/images/tf_1/bg_gross_left_tablet.png') 0 0 no-repeat;
        left: -30px;
        top: 48px;
      }
      &.dr {
        width: 249px;
        height: 244px;
        background: url('/images/tf_1/bg_tree_right_tablet.png') 100px 0 no-repeat;
        right: 0;
        top: -120px;
      }
      &.pr {
        width: 154px;
        height: 162px;
        background: url('/images/tf_1/bg_pers_right_tablet.png') -10px 0 no-repeat;
        right: 0;
        top: -20px;
      }
      &.tr {
        width: 368px;
        height: 117px;
        background: url('/images/tf_1/bg_gross_right_tablet.png') 80px 0 no-repeat;
        right: 0;
        top: 33px;
      }
    }


    .submit {
      input[type="submit"] {
        margin: 0 auto;
      }
      .inside {
        padding: 25px 0;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    padding: 30px 5% 24px 5%;
    box-sizing: border-box;
    .form_wrapper {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }



    i {
      position: absolute;
      display: block;
      top: 0;
      z-index: 10;

      &.dl {
        width: 50%;
        left: 50%;
        height: 303px;
        background: url('/images/tf_1/bg_tree_left_desktop.png') 0 0 no-repeat;
        top: -160px;
        margin-left: -582px;

      }
      &.pl {
        width: 50%;
        left: 50%;
        height: 213px;
        background: url('/images/tf_1/bg_pers_left_desktop.png') 0 0 no-repeat;
        top: -60px;
        margin-left: -420px;
      }
      &.tl {
        width: 50%;
        left: 50%;
        height: 128px;
        background: url('/images/tf_1/bg_gross_left_desktop.png') 0 0 no-repeat;
        top: 26px;
        margin-left: -540px;
      }
      &.dr {
        width: 50%;
        left: 50%;
        height: 305px;
        background: url("/images/tf_1/bg_tree_right_desktop.png") 300px 0 no-repeat;
        top: -160px;
      }
      &.pr {
        width: 50%;
        left: 50%;
        height: 203px;
        background: url("/images/tf_1/bg_pers_right_desktop.png") 220px 0 no-repeat;
        top: -60px;
      }
      &.tr {
        width: 50%;
        left: 50%;
        height: 146px;
        background: url("/images/tf_1/bg_gross_right_desktop.png") 60px 0 no-repeat;
        top: 8px;
      }
    }



    .submit {
      max-width: 54.75em;
      margin: 0 auto;
    }
  }
}