.form_wrapper {
  @include clearfix;
  clear: both;



  @include background(url('/images/tf_1/bg_dialog.png'));


  width: 100%;
  box-sizing: border-box;
  padding-top: 3.2em;
  padding-bottom: 2em;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #009dd7;
    line-height: 1em;
  }
}