html.t {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

hr {
  margin: 60px 30px 0;
  border: none;
  color: #b0bbd7;
  background-color: #b0bbd7;
  height: 2px;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: url('/images/iaw_1/bgr_mobile.jpg') center 0 no-repeat, #73b9d2;
  @include susy-breakpoint($tablet, 12) {
    background: url('/images/iaw_1/bgr_tablet.jpg') center 0 no-repeat, #73b9d2;
  }
  @include susy-breakpoint($desktop, 12) {
    background: url('/images/iaw_1/bgr.jpg') center 0 no-repeat, #73b9d2;
  }
  .wrap {
    //.logo {
    //  position: absolute;
    //  z-index: 12;
    //  top: 1em;
    //  left: 50%;
    //  margin: 0 0 0 -5.625em;
    //  width: 11.250em;
    //  height: 6.625em;
    //  background: url('/images/iaw_1/logo_mobile.png') center 0 no-repeat;
    //  &.ru_ru {
    //    background: url('/images/iaw_1/logo_ru_mobile.png') center 0 no-repeat;
    //  }
    //}
  }

  @include susy-breakpoint($tablet, 12) {
    .wrap {
      //.logo {
      //  top: 2em;
      //  width: 15.625em;
      //  height: 9.250em;
      //  margin: 0 0 0 -7.8125em;
      //  background: url('/images/iaw_1/logo_tablet.png') center 0 no-repeat;
      //  &.ru_ru {
      //    background: url('/images/iaw_1/logo_ru_tablet.png') center 0 no-repeat;
      //  }
      //}
    }
  }

  @include susy-breakpoint($desktop, 12) {
    .wrap {
      //.logo {
      //  top: 3.5em;
      //  width: 18.750em;
      //  height: 11.063em;
      //  margin: 0 0 0 -9.375em;
      //  background: url('/images/iaw_1/logo_desktop.png') center 0 no-repeat;
      //  &.ru_ru {
      //    background: url('/images/iaw_1/logo_ru_desktop.png') center 0 no-repeat;
      //  }
      //}
    }
  }
}
