html.t {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @include background(
                  url('/images/pj_2/bg_up_mobile.png') center 0 no-repeat,
                  linear-gradient(rgba(4, 12, 54, 0.49), rgba(107, 70, 204, 0.51)),
                  url('/images/pj_2/body_back.png')
  );

  @include susy-breakpoint($tablet, 12) {
    @include background(
                    url('/images/pj_2/bg_up_tablet.png') center 0 no-repeat,
                    linear-gradient(rgba(4, 12, 54, 0.49), rgba(107, 70, 204, 0.51)),
                    url('/images/pj_2/body_back.png')
    );
  }
  @include susy-breakpoint($desktop, 12) {

    @include background(
                    url('/images/pj_2/bg_up_desktop.png') center 0 no-repeat,
                    linear-gradient(rgba(4, 12, 54, 0.49), rgba(107, 70, 204, 0.51)),
                    url('/images/pj_2/body_back.png')
    );
  }
  .wrap {
    .logo {
      position: absolute;
      top: 2.1em;
      left: 50%;
      margin: 0 0 0 -5.625em;
      width: 11.250em;
      height: 6.625em;
      background: url('/images/pj_2/logo_mobile.png') center 0 no-repeat;
    }
  }

  @include susy-breakpoint($tablet, 12) {
    .wrap {
      .logo {
        top: 2em;
        width: 15.625em;
        height: 9.250em;
        margin: 0 0 0 -7.8125em;
        background: url('/images/pj_2/logo_tablet.png') center 0 no-repeat;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    .wrap {
      .logo {
        top: 3.5em;
        width: 18.750em;
        height: 11.063em;
        margin: 0 0 0 -9.375em;
        background: url('/images/pj_2/logo_desktop.png') center 0 no-repeat;
      }
    }
  }
}
