.form_wrapper {
  @include clearfix;
  position: relative;
  clear: both;
  background: url('/images/dznz_2/bg_dialog_r.png') right 0 repeat-y, url('/images/dznz_2/bg_dialog.png');
  width: 90%;
  margin: -1em 5% 0 5%;
  padding: 3em 0 0 0;
  box-sizing: border-box;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #0047af;
    line-height: 1em;
  }

  .body_heat {
    top: 30em;
    position: absolute;
    height: 38px;
    background: url('/images/dznz_2/bg_dialog_centre.png');
    width: 100%;
  }

  input[type="submit"] {
    border: 0;
    background: url('/images/dznz_2/submit-on.png') center center no-repeat;
    width: 150px;
    height: 40px;
    display: block;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-size: 1em;
    z-index: 22;
    position: relative;
    margin: 1em auto;
    &:hover {
      background: url('/images/dznz_2/submit-over.png') center center no-repeat;
    }
    &:disabled {
      background: url('/images/dznz_2/submit-off.png') center center no-repeat;
    }
  }



  &.comment {
    overflow: visible;
    position: relative;
    margin: 0 5% 0 5%;
    padding: 0 5% 0.5em 5%;
    @include border-bottom-left-radius(0);
    @include border-bottom-right-radius(0);
    .inside {
      padding: 1em 0;
      margin: 0 0 1em 0;
      background-color: #FFF3EC;
      @include border-radius(0.5em);


    }
  }

  @include susy-breakpoint($tablet, 12) {
    width: 93.334%;
    margin: -1em 3.333% 0 3.333%;

    &.comment {
      margin: 0 3.333% 0 3.333%;
      padding: 0 3.333% 0.5em 3.333%;
      .inside {
        padding: 2em 0;
        margin: 0 0 1em 0;
        input[type="submit"] {
          margin: 0 auto;
        }
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    margin: -1em 3.333% 0 3.333%;
    &.comment {
      padding: 0 2.5% 0.6em 2.5%;
      max-width: 54.75em;
      margin: 0 auto;
      .inside {
        padding: 3em 0;
        margin: 0 0 1em 0;
      }
    }
  }
}