.heat {
  width: 90%;
  height: 60px;
  position: relative;
  z-index: 2;
  background: url('/images/dznz_2/bg_dialog_up.png');
  margin: 4em 5% 0 5%;

  i {
    display: block;
    width: 45px;
    height: 60px;
    position: absolute;
    z-index: 3;
    &.l {
      left: -14px;
      background: url('/images/dznz_2/bg_dialog_up_left.png');
    }
    &.r {
      right: -14px;
      background: url('/images/dznz_2/bg_dialog_up_right.png');
    }
  }

  @include susy-breakpoint($tablet, 12) {
    width: 93.334%;
    margin: 5em 3.333% 0 3.333%;
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 6em 3.333% 0 3.333%;
  }

}