html.t {
  height: 100%;
  body {
    .wrap {
      i.u {
        display: none;
      }
      .bottom_heat {
        height: 38px;
      }
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: url('/images/dznz_1/bg_up_mobile.png') center 0 no-repeat,
  url('/images/dznz_1/bg_back.png');
  @include susy-breakpoint($tablet, 12) {
    background: url('/images/dznz_1/bg_up_tablet.png') center 0 no-repeat,
    url('/images/dznz_1/bg_back.png');
  }
  @include susy-breakpoint($desktop, 12) {
    background: url('/images/dznz_1/bg_up_desktop.png') center 0 no-repeat,
    url('/images/dznz_1/bg_back.png');
  }
  .wrap {

    i.u {
      position: absolute;
      height: 38px;
      width: 68px;
      top: 588px;
      &.l_u {
        background: url('/images/dznz_1/bg_dialog_centre_left_d.png') 0 0 no-repeat;
        left: 5%;
        margin-left: -14px;
      }
      &.r_u {
        background: url('/images/dznz_1/bg_dialog_centre_right_d.png') 0 0 no-repeat;
        right: 5%;
        margin-right: -14px;
      }
    }

    .bottom_heat {
      position: relative;
      height: 35px;
      background: url('/images/dznz_1/bg_dialog_centre.png');
      width: 90%;
      box-sizing: border-box;
      margin: 0 5%;
      i {
        position: absolute;
        height: 38px;
        width: 68px;
        z-index: 5;
        &.l {
          background: url('/images/dznz_1/bg_dialog_centre_left_d.png');
          left: -14px;
        }
        &.r {
          background: url('/images/dznz_1/bg_dialog_centre_right_d.png');
          right: -14px;
        }
      }
    }

    .logo {
      position: absolute;
      z-index: 11;
      top: 2em;
      left: 50%;
      margin: 0 0 0 -6em;
      width: 12em;
      height: 6.625em;
      background: url('/images/dznz_1/logo_mobile.png') center 0 no-repeat;
    }

    i.hat {
      width: 130px;
      height: 188px;
      position: absolute;
      z-index: 10;
      right: 0;
      top: 51px;
      background: url("/images/dznz_1/up_art_desktop.png") 37px 0 no-repeat;
    }

  }

  @include susy-breakpoint($tablet, 12) {

    .wrap {
      overflow: hidden;
      .logo {
        top: 1.5em;
        width: 20em;
        height: 9.250em;
        margin: 0 0 0 -10em;
        background: url('/images/dznz_1/logo_tablet.png') center 0 no-repeat;

      }

      i.u {
        top: 604px;
        &.l_u {
          left: 3.333%;
        }
        &.r_u {
          right: 3.333%;
        }
      }

      .bottom_heat {
        position: relative;
        height: 35px;
        background: url('/images/dznz_1/bg_dialog_centre.png');
        width: 93.333%;
        box-sizing: border-box;
        margin: 0 3.333%;
      }

      i.hat {
        width: 130px;
        height: 188px;
        position: absolute;
        z-index: 10;
        right: 0;
        top: 67px;
        background: url("/images/dznz_1/up_art_desktop.png") 28px 0 no-repeat;
      }

    }
  }

  @include susy-breakpoint($desktop, 12) {
    .wrap {
      overflow: visible;
      .logo {
        top: 0.8em;
        width: 24em;
        height: 12em;
        margin: 0 0 0 -12em;
        background: url('/images/dznz_1/logo_desktop.png') center 0 no-repeat;

      }

      i.u {
        top: 620px;
        width: 50%;

        &.l_u {
          left: 50%;
          margin-left: -453px;
        }
        &.r_u {
          left: 50%;
          right: 0;
          background: url('/images/dznz_1/bg_dialog_centre_right_d.png') 384px 0 no-repeat;
        }
      }

      i.hat {
        width: 130px;
        height: 188px;
        position: absolute;
        z-index: 10;
        left: 50%;
        margin-left: 360px;
        top: 83px;
        background: url('/images/dznz_1/up_art_desktop.png') 0 0 no-repeat;
      }

    }
  }
}
