div.container div.row {
    margin-top: 15px;
}

@media(max-width: 991px) {
    div.container div.row {
        margin-top: 0;
    }

    #get_info_text,
    #get_info {
        margin-top: 10px;
    }

    #get_info {
        margin-bottom: 30px;
    }

    .btn-warning {
        margin-top: 10px;
    }

    label {
        margin-top: 5px;
    }
}

.copy_input-group .input-group span{
    cursor: pointer;
}

button.btn.form-control.btn-default {
    padding: 6px 8px;
}
.copy{
    padding-top: 20px;
}
.copy_input-group{
    padding-top: 10px;
}
.copy.first{
    padding-top: 30px;
}
.copy_input-group.first{
    padding-top: 20px;
}
.copy_input-group input,
.copy_input-group span{
    border: 1px dashed;
    border-radius: 4px;
}

.copy_input-group input{
    border-right: 0;
}
.copy_input-group input:focus{
    border-color: black;
    box-shadow: none;
}
.btn-warning {
    color: #000000 !important;
}

.message {
    display: inline-block;
}