.form_wrapper {
  @include clearfix;
  clear: both;

  @include background-image(linear-gradient(#6491B0, #1C4E71));

  width: 100%;
  box-sizing: border-box;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #0047af;
    line-height: 1em;
  }
}