html.t {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  $svg-gradient-shim-threshold: 1 !global;

  @include background(
                  url('/images/tf_2/bg_back_up_mobile.png') center 0 no-repeat,
                  url('/images/tf_2/bg_gross_back.png')
  );

  @include susy-breakpoint($tablet, 12) {
    @include background(
                    url('/images/tf_2/bg_back_up_tablet.png') center 0 no-repeat,
                    url('/images/tf_2/bg_gross_back.png')
    );
  }

  @include susy-breakpoint($desktop, 12) {
    @include background(
                    url('/images/tf_2/bg_back_up_desktop.png') center 0 no-repeat,
                    url('/images/tf_2/bg_gross_back.png')
    );
  }

  .wrap {
    overflow: hidden;
    .logo {
      position: absolute;
      z-index: 12;
      top: 0.8em;
      left: 50%;
      margin: 0 0 0 -5.625em;
      width: 11.250em;
      height: 6.625em;
      background: url('/images/tf_2/logo_mobile.png') center 0 no-repeat;
    }
  }

  @include susy-breakpoint($tablet, 12) {
    .wrap {
      .logo {
        top: 1.8em;
        width: 15.625em;
        height: 9.250em;
        margin: 0 0 0 -7.8125em;
        background: url('/images/tf_2/logo_mobile.png') center 0 no-repeat;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    .wrap {
      .logo {
        top: 1.3em;
        width: 18.750em;
        height: 11.063em;
        margin: 0 0 0 -9.375em;
        background: url('/images/tf_2/logo_tablet.png') center 0 no-repeat;
      }
    }
  }
}