<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngIf="user">
    Welcome to {{user.usr_name_cyr}}!
  </h1>
  <h6>RRR!!!</h6>
</div>
<md-input-container class="example-full-width">
  <input mdInput placeholder="Text"  type="text" [(ngModel)]="cp">
</md-input-container>
<div style="display:none;">
  {{cp}}
</div>

<button md-fab (click)="testCopy()"><md-icon>check</md-icon></button>
<div id="test" class="test">fdsfdsfdsf</div>