html.t {
  height: 100%;
  body {
    @include background(
                    url('/images/aa_2/bg_back_up_mobile.png') center 0 no-repeat,
                    linear-gradient(
                                    rgba(1, 96, 184, 0.80),
                                    rgba(11, 23, 75, 0.80)
                    )
    );

    @include susy-breakpoint($tablet, 12) {
      @include background(
                      url('/images/aa_2/bg_back_up_tablet.png') center 0 no-repeat,
                      linear-gradient(
                                      rgba(1, 96, 184, 0.80),
                                      rgba(11, 23, 75, 0.80)
                      )
      );
    }

    @include susy-breakpoint($desktop, 12) {
      @include background(
                      url('/images/aa_2/bg_back_up_desktop.png') center 0 no-repeat,
                      linear-gradient(
                                      rgba(1, 96, 184, 0.80),
                                      rgba(11, 23, 75, 0.80)
                      )
      );
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  $svg-gradient-shim-threshold: 1 !global;

  @include background(
                  url('/images/aa_2/bg_back_up_mobile.png') center 0 no-repeat,
                  url('/images/aa_2/bg_back_mobile.png') center bottom no-repeat,
                  linear-gradient(
                                  rgba(1, 96, 184, 0.80),
                                  rgba(11, 23, 75, 0.80)
                  )
  );

  @include susy-breakpoint($tablet, 12) {
    @include background(
                    url('/images/aa_2/bg_back_up_tablet.png') center 0 no-repeat,
                    url('/images/aa_2/bg_back_tablet.png') center bottom no-repeat,
                    linear-gradient(
                                    rgba(1, 96, 184, 0.80),
                                    rgba(11, 23, 75, 0.80)
                    )
    );
  }

  @include susy-breakpoint($desktop, 12) {
    @include background(
                    url('/images/aa_2/bg_back_up_desktop.png') center 0 no-repeat,
                    url('/images/aa_2/bg_back_desktop.png') center bottom no-repeat,
                    linear-gradient(
                                    rgba(1, 96, 184, 0.80),
                                    rgba(11, 23, 75, 0.80)
                    )
    );
  }

  .wrap {
    .logo {
      position: absolute;
      z-index: 12;
      top: 0.8em;
      left: 50%;
      margin: 0 0 0 -6em;
      width: 12em;
      height: 6.625em;
      background: url('/images/aa_2/logo_mobile.png') center 0 no-repeat;
      &.ru_ru {
        background: url('/images/aa_2/logo_ru_mobile.png') center 0 no-repeat;
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {
    .wrap {
      .logo {
        top: 1.8em;
        width: 20em;
        height: 9.250em;
        margin: 0 0 0 -10em;
        background: url('/images/aa_2/logo_tablet.png') center 0 no-repeat;
        &.ru_ru {
          background: url('/images/aa_2/logo_ru_tablet.png') center 0 no-repeat;
        }
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {

    .wrap {
      .logo {
        top: 2.2em;
        width: 24em;
        height: 11.063em;
        margin: 0 0 0 -12em;
        background: url('/images/aa_2/logo_desktop.png') center 0 no-repeat;
        &.ru_ru {
          background: url('/images/aa_2/logo_ru_desktop.png') center 0 no-repeat;
        }
      }
    }
  }
}