html.t {
  height: 100%;
  body {
    @include background(
                    url('/images/mk_2/bg_back_up_mobile.png') center 0 no-repeat,
                    linear-gradient(
                                    rgba(32, 152, 238, 0.80),
                                    rgba(159, 251, 255, 0.80)
                    )
    );

    @include susy-breakpoint($tablet, 12) {
      @include background(
                      url('/images/mk_2/bg_back_up_tablet.png') center 0 no-repeat,
                      linear-gradient(
                                      rgba(32, 152, 238, 0.80),
                                      rgba(159, 251, 255, 0.80)
                      )
      );
    }

    @include susy-breakpoint($desktop, 12) {
      @include background(
                      url('/images/mk_2/bg_back_up_desktop.png') center 0 no-repeat,
                      linear-gradient(
                                      rgba(32, 152, 238, 0.80),
                                      rgba(159, 251, 255, 0.80)
                      )
      );
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  $svg-gradient-shim-threshold: 1 !global;

  i.snail_v {
    display: none;
  }
  i.sky_l {
    display: none;
  }
  i.sky_r {
    display: none;
  }

  @include background(
                  url('/images/mk_2/bg_back_up_mobile.png') center 0 no-repeat,
                  url('/images/mk_2/bg_back_down_mobile.png') center bottom no-repeat,
                  linear-gradient(
                                  rgba(32, 152, 238, 0.80),
                                  rgba(159, 251, 255, 0.80)
                  )
  );

  @include susy-breakpoint($tablet, 12) {
    @include background(
                    url('/images/mk_2/bg_back_up_tablet.png') center 0 no-repeat,
                    url('/images/mk_2/bg_back_down_tablet.png') center bottom no-repeat,
                    linear-gradient(
                                    rgba(32, 152, 238, 0.80),
                                    rgba(159, 251, 255, 0.80)
                    )
    );
  }

  @include susy-breakpoint($desktop, 12) {
    i.snail_v {
      display: block;
      position: absolute;
      top: 242px;
      left: 50%;
      width: 33px;
      height: 77px;
      margin-left: -469px;
      background: url('/images/mk_2/snail_v.png') 0 0 no-repeat;
    }

    i.sky_l {
      display: block;
      position: absolute;
      top: 500px;
      left: 50%;
      width: 180px;
      height: 97px;
      background: url('/images/mk_2/sky_l.png') 0 0 no-repeat;
      margin-left: -619px;
    }
    i.sky_r {
      display: block;
      position: absolute;
      top: 550px;
      left: 50%;
      width: 50%;
      height: 71px;
      background: url('/images/mk_2/sky_r.png') 438px 0 no-repeat;
    }

    @include background(
                    url('/images/mk_2/bg_back_up_desktop.png') center 0 no-repeat,
                    url('/images/mk_2/bg_back_down_desktop.png') center bottom no-repeat,
                    linear-gradient(
                                    rgba(32, 152, 238, 0.80),
                                    rgba(159, 251, 255, 0.80)
                    )
    );
  }

  .wrap {
    position: relative;
    .logo {
      position: absolute;
      z-index: 12;
      top: -4.5em;
      left: 50%;
      margin: 0 0 0 -6em;
      width: 12em;
      height: 6.625em;
      background: url('/images/mk_2/logo_eng_mobile.png') center 0 no-repeat;
      &.ru_ru {
        top: -3.5em;
        background: url('/images/mk_2/logo_ru_mobile.png') center 0 no-repeat;
      }
    }

    i.snail {
      display: block;
      position: absolute;
      width: 106px;
      height: 53px;
      left: 1.2em;
      top: -3.2em;
      background: url('/images/mk_2/snail_mobile.png') 0 0 no-repeat;
    }

  }

  @include susy-breakpoint($tablet, 12) {
    .wrap {
      .logo {
        top: -7.3em;
        width: 20em;
        height: 10em;
        margin: 0 0 0 -10em;
        background: url('/images/mk_2/logo_eng_tablet.png') center 0 no-repeat;
        &.ru_ru {
          top: -5.5em;
          background: url('/images/mk_2/logo_ru_tablet.png') center 0 no-repeat;
        }
      }

      i.snail {
        left: 5%;
        top: -4.8em;
        width: 163px;
        height: 81px;
        background: url('/images/mk_2/snail_tablet.png') 0 0 no-repeat;
      }

    }
  }

  @include susy-breakpoint($desktop, 12) {

    .wrap {
      .logo {
        top: -7.7em;
        width: 24em;
        height: 11.063em;
        margin: 0 0 0 -12em;
        background: url('/images/mk_2/logo_eng_desktop.png') center 0 no-repeat;
        &.ru_ru {
          top: -7.5em;
          background: url('/images/mk_2/logo_ru_desktop.png') center 0 no-repeat;
        }
      }

      i.snail {
        top: -6em;
        width: 204px;
        height: 101px;
        background: url('/images/mk_2/snail_desktop.png') 0 0 no-repeat;
      }

    }
  }

}