.footer {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 0;

  .form_wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  i {
    position: absolute;
    display: block;
    top: 0;
    z-index: 10;
    &.left {
      width: 170px;
      height: 169px;
      background: url('/images/pj_2/bg_down_left_mobile.png') -70px 0 no-repeat;
      margin-top: -52px;
      left: 0;
    }
    &.right {
      width: 170px;
      height: 157px;
      background: url('/images/pj_2/bg_down_right_mobile.png') 70px 0 no-repeat;
      right: 0;
      margin-top: -43px;
    }
  }

  .submit {
    position: relative;
    box-shadow: none;

    .inside {
      @include background(
                      linear-gradient(rgba(236, 236, 237, 1) 60%, rgba(202, 206, 211, 1))
      );
      padding: 15px 0;
      width: 100%;


    }
  }

  @include susy-breakpoint($tablet, 12) {
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    .form_wrapper {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    i {
      &.left {
        width: 200px;
        height: 200px;
        background: url('/images/pj_2/bg_down_left_tablet.png') -50px 0 no-repeat;
        left: 0;
        margin-top: -53px;
      }
      &.right {
        width: 193px;
        height: 209px;
        background: url('/images/pj_2/bg_down_right_tablet.png') 60px 0 no-repeat;
        right: 0;
        margin-top: -63px;
      }
    }

    .submit {
      input[type="submit"] {
        margin: 0 auto;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    padding: 30px 5%;
    box-sizing: border-box;
    .form_wrapper {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    i {
      &.left {
        width: 241px;
        height: 241px;
        background: url('/images/pj_2/bg_down_left_desktop.png') 0 0 no-repeat;
        left: 50%;
        margin: -65px 0 0 -534px;
      }
      &.right {
        width: 50%;
        height: 218px;
        background: url('/images/pj_2/bg_down_right_desktop.png') 308px 0 no-repeat;
        margin-top: -45px;
      }
    }

    .submit {
      max-width: 54.75em;
      margin: 0 auto;
    }
  }
}