.quest_section {
  @include clearfix;
  clear: both;
  position: relative;

  margin: 5% 0;

  img.speaker {
    display: none;
  }

  .quest {
    position: relative;
    width: 100%;
    @include background(
                    linear-gradient(rgba(236, 236, 237, 1) 60%, rgba(202, 206, 211, 1))
    );
    @include border-radius(0.500em);

    img.bubble {
      display: none;
    }

    .header {
      position: relative;
      @include border-top-left-radius(0.500em);
      @include border-top-right-radius(0.500em);

      color: #04377e;
      font-size: 1em;
      line-height: 2em;
      height: 1.625em;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      padding-top: 1em;
    }
    .body {
      padding: 2.5% 5% 5% 5%;
      p {
        color: #2d4e4f;
        font-size: 0.875em;
        font-weight: bold;
      }
      .rating {
        height: 50px;
        text-align: center;
        .star-on-png,
        .star-off-png {
          width: 2.500em;
          height: 2.438em;
          display: inline-block;
        }
        .star-on-png {
          background: url('/images/pj_2/star-on.png') center center no-repeat;
        }
        .star-off-png {
          background: url('/images/pj_2/star-off.png') center center no-repeat;
        }
      }
      .target {
        color: #5f2416;
        font-size: 0.9em;
        line-height: 1.625em;
        height: 1.625em;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        span {
          position: relative;
          padding: 0 2.5%;
        }
        &.hidden {
          background: none;
          hr {
            display: none;
          }
        }
      }
      .additionally {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            padding: 0 0;
            margin: 0;

            /* Base for label styling */
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
              position: absolute;
              left: -9999px;
              outline: none;
            }

            /* checkbox aspect */
            [type="checkbox"]:not(:checked) + label:before,
            [type="checkbox"]:checked + label:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;

              width: 1.429em;
              height: 1.429em;

              border: 1px solid #e8eef4;

              background: #98aec1;
              border-radius: 3px;
            }
            /* checked mark aspect */
            [type="checkbox"]:not(:checked) + label:after,
            [type="checkbox"]:checked + label:after {
              content: '';
              background: url('/images/pj_2/checkbox-on.png') center center no-repeat;
              position: absolute;
              top: -5px;
              left: -2px;
              width: 30px;
              height: 25px;
            }
            /* checked mark aspect changes */
            [type="checkbox"]:not(:checked) + label:after {
              opacity: 0;
              transform: scale(0);
            }
            [type="checkbox"]:checked + label:after {
              opacity: 1;
              transform: scale(1);
            }

            /* disabled checkbox */
            //[type="checkbox"]:disabled:not(:checked) + label:before,
            //[type="checkbox"]:disabled:checked + label:before {
            //  box-shadow: none;
            //  border-color: #bbb;
            //  background-color: #ddd;
            //}
            //[type="checkbox"]:disabled:checked + label:after {
            //  color: #999;
            //}
            //[type="checkbox"]:disabled + label {
            //  color: #aaa;
            //}
            /* accessibility */
            //[type="checkbox"]:checked:focus + label:before,
            //[type="checkbox"]:not(:checked):focus + label:before {
            //  border: 1px dotted blue;
            //}
            //
            ///* hover style just for information */
            //label:hover:before {
            //  border: 1px solid #4778d9 !important;
            //}

            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
              position: relative;
              padding-left: 30px;
              cursor: pointer;
              color: #2d4e4f;
              font-size: 0.750em;
              font-weight: bold;
              display: inline-block;
            }
            &.other {
              span.counter {
                float: right;
                font-size: 0.750em;
                color: #2d4e4f;
                font-style: italic;
              }

              textarea {
                width: 100%;
                height: 3em;
                min-height: 3em;

                padding: 0 1em;
                box-sizing: border-box;

                font-size: 0.750em;
                line-height: 1.833em;
                font-weight: bold;
                color: #2d4e4f;
                overflow-x: hidden; /* for Firefox (issue #5) */
                border: 1px solid #e8eef4;

                background: #98aec1;
                border-radius: 3px;
                margin: 0 0 0 0;

                outline: none;
                resize: none;
              }


              textarea::-webkit-input-placeholder {
                color: #2d4e4f;
              }
              textarea::-moz-placeholder          {color:#2d4e4f;}/* Firefox 19+ */
              textarea:-moz-placeholder           {color:#2d4e4f;}/* Firefox 18- */
              textarea:-ms-input-placeholder      {color:#2d4e4f;}

            }
          }
        }
        &.hidden {
          display: none;
        }
      }
    }
    &.textarea {
      .body {
        span.counter {
          float: right;
          font-size: 0.750em;
          color: #2d4e4f;
          font-style: italic;
        }
        textarea {
          width: 100%;
          height: 5.833em;
          min-height: 5.833em;

          padding: 0 1em;
          box-sizing: border-box;

          font-size: 0.750em;
          line-height: 1.833em;
          font-weight: bold;
          color: #2d4e4f;
          overflow-x: hidden; /* for Firefox (issue #5) */
          border: 1px solid #e8eef4;

          background: #98aec1;
          border-radius: 3px;
          margin: 0 0 0 0;

          outline: none;
          resize: none;
        }

        textarea::-webkit-input-placeholder {
          color: #2d4e4f;
        }
        textarea::-moz-placeholder          {color:#2d4e4f;}/* Firefox 19+ */
        textarea:-moz-placeholder           {color:#2d4e4f;}/* Firefox 18- */
        textarea:-ms-input-placeholder      {color:#2d4e4f;}


      }
    }
  }

  @include susy-breakpoint($tablet, 12) {

    img.speaker {
      display: block;
    }

    &.left_dialog {
      img.speaker {
        display: block;
        float: left;
        width: 20.833%;
      }
      .quest {
        float: left;
        margin-left: 3.333%;
      }
    }
    &.right_dialog {
      img.speaker {
        float: left;
        width: 20.833%;
      }
      .quest {
        float: left;
        margin-right: 3.333%;
      }
    }

    margin: 3.333% 0;

    .quest {
      width: 74.168%;
      img.bubble {
        display: block;
        position: absolute;
        top: 4em;
        &.left {
          margin-left: -25px;
        }
        &.right {
          left: 100%;
          margin-left: 0;
        }
      }
    }
  }
}