.form_wrapper {
  @include clearfix;
  clear: both;

  background-color: #dff0fe;

  width: 100%;
  box-sizing: border-box;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #0047af;
    line-height: 1em;
  }
}

.submit-btn {
  margin: 30px auto 0;
  display: block;
  border-radius: 3%;
  border: none;
  font-weight: bold;
  background-color: #e9a126;
  color: #ffffff;
  height: 62px;
  width: 305px;
  font-size: 35px;

  &:hover {
    background-color: darkorange;
  }

  @include susy-breakpoint($tablet, 12) {
    height: 62px;
    width: 305px;
    font-size: 35px;
  }

  @include susy-breakpoint($desktop, 12) {
    height: 62px;
    width: 305px;
    font-size: 35px;
  }
}

.btn-off {
  color: lightgray;
  background-color: #e9a126;

  &:hover {
    background-color: #e9a126;
  }
}