.form_wrapper {
  @include clearfix;
  clear: both;

  width: 100%;
  box-sizing: border-box;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;

  background: url('/images/mk_1/sprite_1_mobile.png') 25px 25px;

  @include susy-breakpoint($tablet, 12) {
    background: url('/images/mk_1/sprite_1_tablet.png') 50px 50px;
  }

  @include susy-breakpoint($desktop, 12) {
    background: url('/images/mk_1/sprite_1_desktop.png') 60px 60px;
  }

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #009dd7;
    line-height: 1em;
  }
}