.footer {
  width: 100%;
  position: relative;

  i {
    position: absolute;
    display: block;
    &.l {
      top: 14px;
      left: -30px;
      width: 117px;
      height: 86px;
      background: url('/images/aa_1/bg_back_left_mobile.png') 0 0 no-repeat;
    }
    &.r {
      width: 166px;
      height: 63px;
      top: 37px;
      right: 0;
      background: url('/images/aa_1/bg_back_right_mobile.png') 70px 0 no-repeat;
    }
  }

  .inside {
    @include border-radius(0.5em);
    @include background(linear-gradient(#fbfeff, #c2d9eb));
    @include box-shadow(rgba(black, 0.40) 5px 5px 0);

    padding: 20px 10px;
    margin: 10px 10px 20px 10px;
    box-sizing: border-box;

    input[type="submit"] {
      border: 0;
      background: url('/images/aa_1/submit-on.png') center center no-repeat;
      width: 150px;
      height: 40px;
      display: block;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      outline: none;
      font-size: 1em;
      z-index: 11;
      position: relative;
      margin: 0 auto;
      &:hover {
        background: url('/images/aa_1/submit-over.png') center center no-repeat;
      }
      &:disabled {
        background: url('/images/aa_1/submit-off.png') center center no-repeat;
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {

    i {
      &.l {
        top: -8px;
        left: -60px;
        width: 180px;
        height: 133px;
        background: url('/images/aa_1/bg_back_left_tablet.png') 0 0 no-repeat;
      }
      &.r {
        height: 98px;
        top: 27px;
        width: 255px;
        background: url('/images/aa_1/bg_back_right_tablet.png') 90px 0 no-repeat;
      }
    }

    .inside {
      margin: 20px 3.333% 25px 3.333%;
      padding: 30px 10px;

      .submit {
        input[type="submit"] {
          margin: 0 auto;
        }

      }
    }
  }

  @include susy-breakpoint($desktop, 12) {

    i {
      &.l {
        top: -36px;
        width: 50%;
        left: 50%;
        height: 166px;
        background: url('/images/aa_1/bg_back_left_desktop.png') 0 0 no-repeat;
        margin-left: -520px;
      }
      &.r {
        width: 50%;
        left: 50%;
        height: 122px;
        top: 7px;
        background: url('/images/aa_1/bg_back_right_desktop.png') 270px 0 no-repeat;
      }
    }

    .inside {
      max-width: 54.75em;
      margin: 20px auto 30px auto;
      padding: 30px 10px 30px 10px;
    }
  }
}