.form_wrapper {
  @include clearfix;
  clear: both;



  @include background(linear-gradient(#36e5e9, #267dbd));


  width: 100%;
  box-sizing: border-box;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #009dd7;
    line-height: 1em;
  }
}