.footer {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 0;

  i {
    position: absolute;
    display: block;
    top: 0;
    z-index: 10;
    &.left {
      width: 170px;
      height: 182px;
      background: url('/images/dw_2/bg_footer_mobile_left.png') -70px 0 no-repeat;
      margin-top: -48px;
      left: 0;
    }
    &.right {
      width: 170px;
      height: 199px;
      background: url('/images/dw_2/bg_footer_mobile_right.png') 70px 0 no-repeat;
      right: 0;
      margin-top: -66px;
    }
  }

  .submit {
    position: relative;
    box-shadow: none;
    background: url('/images/dw_2/centre_up.png') top center repeat-x, url('/images/dw_2/centre_down.png') bottom center repeat-x, url('/images/dw_2/bg.png') 0 0 repeat;

    .inside {
      background-color: #fcf2b8;
      padding: 1em 0;
      width: 100%;
      input[type="submit"] {
        border: 0;
        background: url('/images/dw_2/submit-on.png') center center no-repeat;
        width: 150px;
        height: 40px;
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        outline: none;
        font-size: 1em;
        z-index: 11;
        position: relative;
        margin: 0 auto;
        &:hover {
          background: url('/images/dw_2/submit-over.png') center center no-repeat;
        }
        &:disabled {
          background: url('/images/dw_2/submit-off.png') center center no-repeat;
        }
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {
    padding: 10px 5% 10px 5%;
    box-sizing: border-box;
    i {
      &.left {
        width: 200px;
        height: 215px;
        background: url('/images/dw_2/bg_footer_tablet_left.png') -25px 0 no-repeat;
        left: 0;
        margin-top: -80px;
      }
      &.right {
        width: 200px;
        height: 234px;
        background: url('/images/dw_2/bg_footer_tablet_right.png') 60px 0 no-repeat;
        right: 0;
        margin-top: -99px;
      }
    }

    .submit {
      input[type="submit"] {
        margin: 0 auto;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    padding: 20px 5%;
    i {
      &.left {
        width: 250px;
        height: 269px;
        background: url('/images/dw_2/bg_footer_desktop_left.png') 0 0 no-repeat;
        left: 50%;
        margin: -117px 0 0 -534px;
      }
      &.right {
        width: 50%;
        height: 293px;
        background: url('/images/dw_2/bg_footer_desktop_right.png') 308px 0 no-repeat;
        margin-top: -141px;
      }
    }

    .submit {
      max-width: 54.75em;
      margin: 0 auto;
    }
  }
}