.form_wrapper {
  @include clearfix;
  clear: both;

  box-shadow: inset 0 0 77px rgba(0, 0, 0, 0.9);
  padding: 1em 0 0 0;
  background: url('/images/dw_2/bg.png') 0 0;

  width: 100%;
  box-sizing: border-box;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #2d4e4f;
    line-height: 1em;
  }


  input[type="submit"] {
    border: 0;
    background: url('/images/dw_2/submit-on.png') center center no-repeat;
    width: 150px;
    height: 40px;
    display: block;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-size: 1em;
    z-index: 11;
    position: relative;
    margin: 1em auto;
    &:hover {
      background: url('/images/dw_2/submit-over.png') center center no-repeat;
    }
    &:disabled {
      background: url('/images/dw_2/submit-off.png') center center no-repeat;
    }
  }


}