.form_wrapper {
  @include clearfix;
  clear: both;



  @include background(linear-gradient(#36e5e9, #267dbd));


  width: 100%;
  box-sizing: border-box;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #009dd7;
    line-height: 1em;
  }



  input[type="submit"] {
    border: 0;
    background: url('/images/aa_2/submit-on.png') center center no-repeat;
    width: 150px;
    height: 40px;
    display: block;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-size: 1em;
    z-index: 11;
    position: relative;
    margin: 1em auto;
    &:hover {
      background: url('/images/aa_2/submit-over.png') center center no-repeat;
    }
    &:disabled {
      background: url('/images/aa_2/submit-off.png') center center no-repeat;
    }
  }


}