.glass_wrapper {
  margin: 6em 10px 0 10px;
  box-sizing: border-box;
  position: relative;

  @include border-radius(12px);
  padding: 5px;

  @include background(linear-gradient(#014c79, #004a77));

  @include box-shadow(rgba(0, 0, 0, 0.3) 0px 5px 0);

  @include susy-breakpoint($tablet, 12) {
    margin: 10em 3.333% 0 3.333%;
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 12em 3.333% 0 3.333%;
  }

}