.form_wrapper {
  @include clearfix;
  clear: both;



  @include background(url('/images/tk_2/back_2.png') 0 0, linear-gradient(120deg, #7359aa, #684da0));


  @include box-shadow(inset 27px 0 27px -27px rgba(255, 255, 255, 1), inset -27px 0 27px -27px rgba(255, 255, 255, 1));
  width: 100%;
  box-sizing: border-box;
  padding-top: 3.2em;
  padding-bottom: 0;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #009dd7;
    line-height: 1em;
  }


  input[type="submit"] {
    border: 0;
    background: url('/images/tk_2/submit-on.png') center center no-repeat;
    width: 150px;
    height: 40px;
    display: block;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-size: 1em;
    z-index: 11;
    position: relative;
    margin: 1em auto;
    &:hover {
      background: url('/images/tk_2/submit-over.png') center center no-repeat;
    }
    &:disabled {
      background: url('/images/tk_2/submit-off.png') center center no-repeat;
    }
  }

}