.glass_wrapper {
  margin: 3.5em 0 0 0;
  box-sizing: border-box;
  position: relative;

  .g_head,
  .g_body,
  .g_footer {
    display: table;
    width: 100%;
    .g_row {
      display: table-row;
    }
  }

  .lul {
    width: 47px;
    height: 16px;
    background: url('/images/tk_2/lul.png') 0 0 no-repeat;
    display: table-cell;
    font-size: 16px;
    line-height: 16px;
  }
  .uc {
    height: 16px;
    background: url('/images/tk_2/uc.png') 0 0 repeat-x;
    display: table-cell;
    font-size: 16px;
    line-height: 16px;
  }
  .rur {
    width: 47px;
    height: 16px;
    background: url('/images/tk_2/rur.png') 0 0 no-repeat;
    display: table-cell;
    font-size: 16px;
    line-height: 16px;
  }

  .lml {
    width: 29px;
    height: 100%;
    background: url('/images/tk_2/lml.png') 0 0 repeat-y;
    display: table-cell;
    i {
      display: none;
    }
  }
  .rmr {
    width: 29px;
    height: 100%;
    background: url('/images/tk_2/rmr.png') 0 0 repeat-y;
    display: table-cell;
    i {
      display: none;
    }
  }

  .ldl {
    width: 47px;
    height: 19px;
    background: url('/images/tk_2/ldl.png') 0 0 no-repeat;
    display: table-cell;
  }
  .dc {
    height: 19px;
    background: url('/images/tk_2/dc.png') 0 0 repeat-x;
    display: table-cell;
  }
  .rdr {
    width: 47px;
    height: 19px;
    background: url('/images/tk_2/rdr.png') 0 0 no-repeat;
    display: table-cell;
  }

  @include susy-breakpoint($tablet, 12) {
    margin: 5.4em 3.333% 0 3.333%;
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 6.5em 3.333% 0 3.333%;
  }

}