.form_wrapper {
  @include clearfix;
  clear: both;

  box-shadow: inset 0 0 77px rgba(0, 0, 0, 0.9);
  padding: 1em 0;
  background: url('/images/dw_1/bg.png') 0 0;

  width: 100%;
  box-sizing: border-box;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #2d4e4f;
    line-height: 1em;
  }
}