.glass_wrapper {
  margin: 5em 0 0 0;
  box-sizing: border-box;
  position: relative;

  .g_head,
  .g_body,
  .g_footer {
    display: table;
    width: 100%;
    .g_row {
      display: table-row;
    }
  }

  .lul {
    position: relative;
    top: 10px;
    width: 19px;
    height: 19px;
    background: url('/images/dw_1/centre_up_left.png') 0 0 no-repeat;
    display: table-cell;
  }
  .uc {
    position: relative;
    top: 10px;
    height: 19px;
    background: url('/images/dw_1/centre_up.png') 0 0 repeat-x;
    margin: 0 19px;
    display: table-cell;
  }
  .rur {
    position: relative;
    top: 10px;
    width: 19px;
    height: 19px;
    background: url('/images/dw_1/centre_up_right.png') 0 0 no-repeat;
    display: table-cell;
  }

  .lml {
    width: 10px;
    height: 100%;
    background: url('/images/dw_1/centre_left.png') 0 0 repeat-y;
    display: table-cell;
  }

  .s {
    margin: 0 38px;
    height: 100px;
    background-color: bisque;
    display: table-cell;
  }
  .rmr {
    width: 10px;
    height: 100%;
    background: url('/images/dw_1/centre_right.png') 0 0 repeat-y;
    display: table-cell;
  }

  .ldl {
    position: relative;
    top: -8px;
    width: 19px;
    height: 19px;
    background: url('/images/dw_1/centre_down_left.png') 0 0 no-repeat;
    display: table-cell;
  }

  .dc {
    height: 19px;
    background: url('/images/dw_1/centre_down.png') 0 0 repeat-x;
    margin: 0 38px;
    display: table-cell;
  }

  .rdr {
    position: relative;
    top: -8px;
    width: 19px;
    height: 19px;
    background: url('/images/dw_1/centre_down_right.png') 0 0 no-repeat;
    display: table-cell;
  }

  @include susy-breakpoint($tablet, 12) {
    margin: 8em 3.333% 0 3.333%;
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 11em 3.333% 0 3.333%;
  }
}