html.t {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: url('/images/dw_1/bg2_mobile.png') center 0 no-repeat, url('/images/dw_1/bg_f.png'), #1a1f46;
  @include susy-breakpoint($tablet, 12) {
    background: url('/images/dw_1/bg2_tablet.png') center 0 no-repeat, url('/images/dw_1/bg_f.png'), #1a1f46;
  }
  @include susy-breakpoint($desktop, 12) {
    background: url('/images/dw_1/bg2_desktop.png') center 0 no-repeat, url('/images/dw_1/bg_f.png'), #1a1f46;
  }
  .wrap {
    .logo {
      position: absolute;
      z-index: 12;
      top: 0.5em;
      left: 50%;
      margin: 0 0 0 -5.625em;
      width: 11.250em;
      height: 6.625em;
      background: url('/images/dw_1/logo_mobile_en.png') center 0 no-repeat;
      &.ru_ru {
        top: 1em;
        background: url('/images/dw_1/logo_mobile_ru.png') center 0 no-repeat;
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {
    .wrap {
      .logo {
        top: 1.5em;
        width: 15.625em;
        height: 9.250em;
        margin: 0 0 0 -7.8125em;
        background: url('/images/dw_1/logo_tablet_en.png') center 0 no-repeat;
        &.ru_ru {
          top: 2.4em;
          background: url('/images/dw_1/logo_tablet_ru.png') center 0 no-repeat;
        }
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    .wrap {
      .logo {
        top: 3em;
        width: 18.750em;
        height: 11.063em;
        margin: 0 0 0 -9.375em;
        background: url('/images/dw_1/logo_desktop_en.png') center 0 no-repeat;
        &.ru_ru {
          top: 4em;
          background: url('/images/dw_1/logo_desktop_ru.png') center 0 no-repeat;
        }
      }
    }
  }
}
