.glass_wrapper {
  margin: 5.5em 0 0 0;
  box-sizing: border-box;
  position: relative;

  .g_head,
  .g_body,
  .g_footer {
    display: table;
    width: 100%;
    .g_row {
      display: table-row;
    }
  }

  .lul {
    width: 245px;
    height: 69px;
    background: url('/images/iaw_3/form-up-left.png') 0 0 no-repeat;
    display: table-cell;
  }
  .uc {
    height: 69px;
    background: url('/images/iaw_3/form-up.png') 0 0 repeat-x;
    margin: 0 50px;
    display: table-cell;
  }
  .rur {
    width: 67px;
    height: 69px;
    background: url('/images/iaw_3/form-up-right.png') 0 0 no-repeat;
    display: table-cell;
  }

  .lml {
    width: 24px;
    height: 100%;
    background: url('/images/iaw_3/form-left.png') 0 0 repeat-y;
    display: table-cell;
  }

  .s {
    margin: 0 26px;
    height: 100px;
    background-color: bisque;
    display: table-cell;
  }

  .rmr {
    width: 29px;
    height: 100%;
    background: url('/images/iaw_3/form-right.png') 0 0 repeat-y;
    display: table-cell;
  }

  .ldl {
    width: 251px;
    height: 65px;
    background: url('/images/iaw_3/form-down-left.png') 0 0 no-repeat;
    display: table-cell;
  }

  .dc {
    height: 65px;
    background: url('/images/iaw_3/form-down.png') 0 0 repeat-x;
    margin: 0 50px;
    display: table-cell;
  }

  .rdr {
    width: 63px;
    height: 65px;
    background: url('/images/iaw_3/form-down-right.png') 0 0 no-repeat;
    display: table-cell;
  }

  @include susy-breakpoint($tablet, 12) {
    margin: 8em 3.333% 0 3.333%;
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 11em 3.333% 0 3.333%;
  }

}