.footer {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 0;

  .form_wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #d37f3c;
  }

  i {
    position: absolute;
    display: block;
    top: 0;
    z-index: 10;
    &.left {
      width: 151px;
      height: 169px;
      background: url('/images/tk_1/bg_down_left_mobile.png') -20px 0 no-repeat;
      margin-top: -55px;
      left: 0;
    }
    &.right {
      width: 170px;
      height: 157px;
      background: url('/images/tk_1/bg_down_right_mobile.png') 70px 0 no-repeat;
      right: 0;
      margin-top: -43px;
    }
  }

  .submit {
    position: relative;
    box-shadow: none;

    .inside {
      @include background(
                      linear-gradient(#f2e6ff, #cbc6e7)
      );
      padding: 20px 0;
      width: 100%;

      input[type="submit"] {
        border: 0;
        background: url('/images/tk_1/submit-on.png') center center no-repeat;
        width: 150px;
        height: 40px;
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        outline: none;
        font-size: 1em;
        z-index: 11;
        position: relative;
        margin: 0 auto;
        &:hover {
          background: url('/images/tk_1/submit-over.png') center center no-repeat;
        }
        &:disabled {
          background: url('/images/tk_1/submit-off.png') center center no-repeat;
        }
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    .form_wrapper {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    i {
      &.left {
        width: 200px;
        height: 200px;
        background: url('/images/tk_1/bg_down_left_tablet.png') -24px 0 no-repeat;
        left: 0;
        margin-top: -54px;
      }
      &.right {
        width: 193px;
        height: 209px;
        background: url('/images/tk_1/bg_down_right_tablet.png') 32px 0 no-repeat;
        right: 0;
        margin-top: -63px;
      }
    }

    .submit {
      input[type="submit"] {
        margin: 0 auto;
      }
      .inside {
        padding: 25px 0;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    padding: 30px 5% 24px 5%;
    box-sizing: border-box;
    .form_wrapper {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    i {
      &.left {
        width: 241px;
        height: 280px;
        background: url('/images/tk_1/bg_down_left_desktop.png') 0 0 no-repeat;
        left: 50%;
        margin: -126px 0 0 -493px;
      }
      &.right {
        width: 50%;
        height: 280px;
        background: url('/images/tk_1/bg_down_right_desktop.png') 283px 0 no-repeat;
        margin-top: -126px;
      }
    }

    .submit {
      max-width: 54.75em;
      margin: 0 auto;
    }
  }
}