.form_wrapper {
  @include clearfix;
  clear: both;



  @include background(url('/images/tk_1/back_2.png') 0 0, linear-gradient(120deg, #7359aa, #684da0));


  @include box-shadow(inset 27px 0 27px -27px rgba(255, 255, 255, 1), inset -27px 0 27px -27px rgba(255, 255, 255, 1));
  width: 100%;
  box-sizing: border-box;
  padding-top: 3.2em;
  padding-bottom: 2em;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #009dd7;
    line-height: 1em;
  }
}