.footer {
  position: relative;
  width: 100%;

  i {
    position: absolute;
    display: block;
    top: 0;
    z-index: 10;
    margin-top: -100px;
    &.left {
      width: 245px;
      height: 203px;
      background: url('/images/me_2/bg_footer_mobile_1_left.png') -95px 0 no-repeat;
      left: 0;
    }
    &.right {
      width: 246px;
      height: 193px;
      background: url('/images/me_2/bg_footer_mobile_1_right.png') 70px 0 no-repeat;
      right: 0;
      margin-top: -90px;
    }
    &.right_2 {
      width: 246px;
      height: 193px;
      background: url('/images/me_2/bg_footer_mobile_2_right.png') 222px 0 no-repeat;
      right: 0;
      z-index: 8;
    }
  }

  .submit {
    position: relative;

    margin-top: 11px;
    padding: 10px 0;

    @include background-image(linear-gradient(#add5ea, #c5e7f7));
    @include border-bottom-left-radius(0);
    @include border-bottom-right-radius(0);

    input[type="submit"] {
      border: 0;
      background: url('/images/me_2/submit-on.png') center center no-repeat;
      width: 150px;
      height: 40px;
      display: block;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      outline: none;
      font-size: 1em;
      z-index: 11;
      position: relative;
      margin: 0 auto;
      &:hover{
        background: url('/images/me_2/submit-over.png') center center no-repeat;
      }
      &:disabled {
        background: url('/images/me_2/submit-off.png') center center no-repeat;
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {
    i {
      margin-top: -160px;
      &.left {
        width: 376px;
        height: 312px;
        background: url('/images/me_2/bg_footer_tablet_1_left.png') -163px 0 no-repeat;
        left: 0;
      }
      &.right {
        width: 378px;
        height: 305px;
        background: url('/images/me_2/bg_footer_tablet_1_right.png') 90px 0 no-repeat;
        right: 0;
        margin-top: -153px;
      }
      &.right_2 {
        width: 378px;
        height: 305px;
        background: url('/images/me_2/bg_footer_tablet_2_right.png') 260px 0 no-repeat;
        right: 0;
        margin-top: -153px;
      }
    }

    .submit {
      margin-top: 23px;
      padding: 20px 0;

      input[type="submit"] {
        margin: 0 auto;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    i {
      margin-top: -260px;
      &.left {
        width: 504px;
        height: 416px;
        background: url('/images/me_2/bg_footer_desktop_1_left.png') 0 0 no-repeat;
        left: 50%;
        margin-left: -690px;
      }
      &.right {
        width: 50%;
        height: 406px;
        background: url('/images/me_2/bg_footer_desktop_1_right.png') 180px 0 no-repeat;
        margin-top: -250px;
      }
      &.right_2 {
        width: 50%;
        height: 406px;
        background: url('/images/me_2/bg_footer_desktop_2_right.png') 414px 0 no-repeat;
        margin-top: -260px;
      }
    }

    .submit {
      padding: 30px 0;
      max-width: 54.75em;
      margin: 0 auto;
    }
  }
}