.footer {
  position: relative;
  width: 100%;

  .bg {
    position: absolute;
    background: url("/images/dz3d_1/bg_footer_mobile.png") center center no-repeat;
    height: 100px;
    width: 100%;
    z-index: 10;
    top: 100%;
    margin-top: -101px;
  }

  @include susy-breakpoint($tablet, 12) {
    .bg {
      background: url("/images/dz3d_1/bg_footer_tablet.png") center center no-repeat;
      margin-top: -156px;
      height: 156px;
    }
  }

  @include susy-breakpoint($desktop, 12) {
    .bg {
      background: url("/images/dz3d_1/bg_footer_desktop.png") center center no-repeat;
      margin-top: -208px;
      height: 208px;
    }
  }
}