.form_wrapper {
  @include clearfix;
  clear: both;

  background-color: #c2e1b3;
  @include border-radius(0.750em);

  width: 90%;
  margin: 6em 5% 0 5%;
  padding: 1em 5% 0 5%;
  box-sizing: border-box;

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #0047af;
    line-height: 1em;
  }

  &.comment {
    position: relative;
    margin: 5% 5% 0 5%;
    padding: 1em 5% 10% 5%;
    @include border-bottom-left-radius(0);
    @include border-bottom-right-radius(0);

    input[type="submit"] {
      border: 0;
      background: url('/images/dz3d_1/submit-on.png') center center no-repeat;
      width: 150px;
      height: 40px;
      display: block;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      outline: none;
      font-size: 1em;
      z-index: 11;
      position: relative;
      margin: 0 auto;
      &:hover{
        background: url('/images/dz3d_1/submit-over.png') center center no-repeat;
      }
      &:disabled {
        background: url('/images/dz3d_1/submit-off.png') center center no-repeat;
      }
    }
  }

  @include susy-breakpoint($tablet, 12) {
    width: 93.334%;
    margin: 9em 3.333% 0 3.333%;
    padding: 1em 3.333% 0 3.333%;

    &.comment {
      margin: 3.333% 3.333% 0 3.333%;
      padding: 1em 3.333% 2em 3.333%;
      input[type="submit"] {
        margin: 3.333% auto 0 auto;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 12em 3.333% 0 3.333%;
    &.comment {
      max-width: 54.75em;
      margin: 3.333% auto 0 auto;
    }
  }
}