html.t {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  $svg-gradient-shim-threshold: 1 !global;

  @include background(
                  url('/images/tk_2/bg_up_mobile.png') center 0 no-repeat,
                  linear-gradient(
                                  120deg,
                                  rgba(3, 116, 213, 0.80),
                                  rgba(22, 177, 216, 0.80),
                                  rgba(3, 116, 213, 0.80),
                                  rgba(22, 177, 216, 0.80),
                                  rgba(3, 116, 213, 0.80)
                  ),
                  url('/images/tk_2/body_back.png')
  );

  @include susy-breakpoint($tablet, 12) {
    @include background(
                    url('/images/tk_2/bg_up_tablet.png') center 0 no-repeat,
                    linear-gradient(
                                    120deg,
                                    rgba(3, 116, 213, 0.80),
                                    rgba(22, 177, 216, 0.80),
                                    rgba(3, 116, 213, 0.80),
                                    rgba(22, 177, 216, 0.80),
                                    rgba(3, 116, 213, 0.80)
                    ),
                    url('/images/tk_2/body_back.png')
    );
  }

  @include susy-breakpoint($desktop, 12) {
    @include background(
                    url('/images/tk_2/bg_up_desktop.png') center 0 no-repeat,
                    linear-gradient(
                                    120deg,
                                    rgba(3, 116, 213, 0.80),
                                    rgba(22, 177, 216, 0.80),
                                    rgba(3, 116, 213, 0.80),
                                    rgba(22, 177, 216, 0.80),
                                    rgba(3, 116, 213, 0.80)
                    ),
                    url('/images/tk_2/body_back.png')
    );
  }

  .bb {
    display: none;
  }

  .wrap {
    .logo {
      position: absolute;
      z-index: 12;
      top: 0.8em;
      left: 50%;
      margin: 0 0 0 -5.625em;
      width: 11.250em;
      height: 6.625em;
      background: url('/images/tk_2/logo_mobile.png') center 0 no-repeat;
    }
  }

  @include susy-breakpoint($tablet, 12) {
    .wrap {
      .logo {
        top: 1.8em;
        width: 15.625em;
        height: 9.250em;
        margin: 0 0 0 -7.8125em;
        background: url('/images/tk_2/logo_mobile.png') center 0 no-repeat;
      }
    }
  }

  @include susy-breakpoint($desktop, 12) {

    .bb {
      display: block;
      position: relative;
      i {
        display: block;
        position: absolute;
        top: 0;
        z-index: 20;
        &.lb {
          width: 163px;
          height: 218px;
          left: 50%;
          background: url('/images/tk_2/lb.png') 0 no-repeat;
          margin-left: -575px;
          top: -100px;
        }
        &.lbi {
          width: 117px;
          height: 118px;
          left: 50%;
          background: url('/images/tk_2/lbi.png') 0 no-repeat;
          top: 80px;
          margin-left: -485px;
        }
        &.rb {
          width: 50%;
          height: 281px;
          background: url('/images/tk_2/rb.png') 380px 0 no-repeat;
          right: 0;
          top: -150px;
        }
        &.rbi {
          width: 50%;
          height: 90px;
          right: 0;
          background: url('/images/tk_2/rbi.png') 380px 0 no-repeat;
          top: 40px;
        }
      }
    }

    .wrap {
      .logo {
        top: 1.3em;
        width: 18.750em;
        height: 11.063em;
        margin: 0 0 0 -9.375em;
        background: url('/images/tk_2/logo_tablet.png') center 0 no-repeat;
      }
    }
  }
}