.footer {
  width: 100%;
  position: relative;

  i {
    position: absolute;
    display: block;
    &.tl {
      top: 146px;
      left: -120px;
      width: 263px;
      height: 54px;
      background: url('/images/mk_2/tl_mobile.png') 0 0 no-repeat;
      z-index: 4;
    }
    &.pl {
      top: 57px;
      left: -60px;
      width: 216px;
      height: 143px;
      background: url('/images/mk_2/pl_mobile.png') 0 0 no-repeat;
      z-index: 3;
    }
    &.tr {
      top: 152px;
      right: 0;
      width: 269px;
      height: 48px;
      background: url('/images/mk_2/tr_mobile.png') 110px 0 no-repeat;
      z-index: 4;
    }
    &.pr {
      top: 10px;
      right: 0;
      width: 111px;
      height: 175px;
      background: url('/images/mk_2/pr_mobile.png') 0 0 no-repeat;
      z-index: 3;
    }
  }

  .inside {
    margin: 0 10px;
    box-sizing: border-box;
    position: relative;



    div {
      height: 190px;
      &:after {
        clear: both;
      }
      &.l {
        background: url('/images/mk_2/dialog_down_left.png') left 0 no-repeat;
        width: 112px;
        height: 190px;
        position: absolute;
        left: 0;
        z-index: 2;
      }
      &.r {
        background: url('/images/mk_2/dialog_down_right.png') right 0 no-repeat;
        width: 112px;
        height: 190px;
        position: absolute;
        right: 0;
        z-index: 2;
      }
      &.c {
        position: relative;
        background: url('/images/mk_2/dialog_down.png') 0 3px;
        margin: 0 112px;
      }
    }

  }

  @include susy-breakpoint($tablet, 12) {

    i {
      &.tl {
        top: 107px;
        left: -120px;
        width: 404px;
        height: 83px;
        background: url('/images/mk_2/tl_tablet.png') 0 0 no-repeat;
        z-index: 4;
      }
      &.pl {
        top: -34px;
        left: -60px;
        width: 333px;
        height: 220px;
        background: url('/images/mk_2/pl_tablet.png') 0 0 no-repeat;
        z-index: 3;
      }
      &.tr {
        top: 116px;
        right: 0;
        width: 414px;
        height: 74px;
        background: url('/images/mk_2/tr_tablet.png') 110px 0 no-repeat;
        z-index: 4;
      }
      &.pr {
        top: -70px;
        right: 0;
        width: 141px;
        height: 223px;
        background: url('/images/mk_2/pr_tablet.png') 0 0 no-repeat;
        z-index: 3;
      }
    }

    .inside {
      margin: 0 3.333%;
    }
  }

  @include susy-breakpoint($desktop, 12) {
    margin-top: 30px;
    i {
      &.tl {
        top: 86px;
        width: 50%;
        left: 50%;
        height: 104px;
        background: url('/images/mk_2/tl_desktop.png') 0 0 no-repeat;
        z-index: 4;
        margin-left: -660px;
      }
      &.pl {
        top: -90px;
        width: 50%;
        left: 50%;
        height: 275px;
        background: url('/images/mk_2/pl_desktop.png') 0 0 no-repeat;
        z-index: 3;
        margin-left: -630px
      }
      &.tr {
        top: 98px;
        left: 50%;
        width: 50%;
        height: 92px;
        background: url('/images/mk_2/tr_desktop.png') 196px 0 no-repeat;
        z-index: 4;
      }
      &.pr {
        top: -170px;
        left: 50%;
        width: 50%;
        height: 337px;
        background: url('/images/mk_2/pr_desktop.png') 380px 0 no-repeat;
        z-index: 4;
      }
    }

    .inside {
      max-width: 54.75em;
      margin: 0 auto;
      padding: 0 50px;
      div {
        &.l {
          left: 50px;
        }
        &.r {
          right: 50px;
        }
      }
    }
  }
}