.form_wrapper {
  @include clearfix;
  clear: both;

  width: 100%;
  box-sizing: border-box;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;

  background: url('/images/mk_2/sprite_1_mobile.png') 25px 25px;

  @include susy-breakpoint($tablet, 12) {
    background: url('/images/mk_2/sprite_1_tablet.png') 50px 50px;
  }

  @include susy-breakpoint($desktop, 12) {
    background: url('/images/mk_2/sprite_1_desktop.png') 60px 60px;
  }

  h1.write {
    text-align: center;
    margin: 2em 0;
    color: #009dd7;
    line-height: 1em;
  }

  input[type="submit"] {
    border: 0;
    background: url('/images/mk_2/submit-on.png') center center no-repeat;
    width: 150px;
    height: 40px;
    display: block;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-size: 1em;
    z-index: 110;
    margin: 1em auto;
    &:hover {
      background: url('/images/mk_2/submit-over.png') center center no-repeat;
    }
    &:disabled {
      background: url('/images/mk_2/submit-off.png') center center no-repeat;
    }
  }



}