.glass_wrapper {

  margin: 4.4em 10px 0 10px;
  box-sizing: border-box;
  position: relative;

  @include border-radius(12px);
  padding: 5px;

  @include background(#ffddc3);

  @include susy-breakpoint($tablet, 12) {
    margin: 6.4em 3.333% 0 3.333%;
  }

  @include susy-breakpoint($desktop, 12) {
    margin: 7.4em 3.333% 0 3.333%;
  }

}